<!DOCTYPE html>
<html>
    <head>
        {% load static %}<link href="{%static '/img/favicon.png' %}" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
        <link href="{%static '/css/aboutopenaccount.css'%}" rel="stylesheet" type="text/css"/>
        <meta content="AnimaApp.com - Design to code, Automated." name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="aboutopenaccount"/>
        <div class="anima-container-center-horizontal">
            <div class="aboutopenaccount anima-flexbox-container anima-screen ">
                <div class="auto-flex-1lKxzb anima-flexbox-container">
                    <div class="overlap-group-4tDfkw">
                        <img anima-src="{%static '/img/razer-logo-10@1x.png' %}" class="razer-logo-3c6d017d-87bb-47e9-bf75-a43964f7a191-bytBCB" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="down-icon-98237ac3-e542-4473-b420-d2ec3434a016-X9sz9x anima-smart-layers-pointers ">
                            <img anima-src="{%static '/img/bx-chevron-down-17@1x.png' %}" class="bx-chevron-down-942c88df-c2af-4ad1-b1d1-c575e9a383cd-5BxQD3 anima-flexbox-container" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <a href="dashboard">
                            <div class="return-to-dashboard-58434b0c-2d30-4f57-8c82-70f1f2d74eef-IX44gN font-class-1">
                                Return to Dashboard
                            </div>
                        </a>
                    </div>
                    <div class="group-10-81ae5285-2b92-4971-9600-79e4ef8a6f2c-xiRsu5 anima-flexbox-container">
                        <div class="discover-eda49f03-9a71-4b6c-9b3c-72aa94257fb9-b733Bi font-class-1">
                            Discover
                        </div>
                        <div class="services-ac515c82-1507-4842-9624-da8df7b05531-EhxazZ font-class-1">
                            Services
                        </div>
                        <div class="apply-572815a3-b129-437a-9c41-58363e75744c-5OlbRL font-class-1">
                            Apply
                        </div>
                        <div class="contact-059546a1-7323-456c-9f7d-9d125024a5cf-VgIZXS font-class-1">
                            Contact
                        </div>
                    </div>
                    <div class="group-100-9fd4f6c0-62c6-4ba5-afcd-558ac19f279d-wIslSw anima-flexbox-container">
                        <div class="auto-flex1-a1Q0QQ anima-flexbox-container">
                            <a href="myaccount">
                                <img anima-src="{%static '/img/ellipse-17-10@1x.png' %}" class="ellipse-17-4963236f-3df8-4f20-9ed7-358ed3e8e932-Z7Qwkj" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </a>
                            <div class="chrislim63-4553af1d-4bd7-49bc-9863-63ae15f14173-PF8PVh font-class-1">
                                CHRISLIM63
                            </div>
                        </div>
                        <div class="log-out-9da41aed-8fb4-47c1-a38d-d6253da08783-NYk7RA font-class-1">
                            LOG OUT
                        </div>
                    </div>
                </div>
                <div class="group-93-bded2833-98ad-4fa2-8476-6b9bcf05a599-H9YYTC">
                    <img anima-src="{%static '/img/rectangle-43-3@1x.png' %}" class="rectangle-43-6a2dcbe8-1a83-4548-a448-090ef8f1090b-jZyxJP" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{%static '/img/path-92-1@1x.png' %}" class="path-92-d0ff8a74-7f48-44fe-a5b2-625aa9f6c490-cpuUwj" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{%static '/img/rectangle-105-1@1x.png' %}" class="rectangle-105-ddf566d1-3353-4990-9f91-b8e3e31247db-zjFOu9" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="text-field-outlined-unfilled-enabled-6f4c65e5-187d-4b12-93c5-c596e5357439-JnDIV3">
                        <div class="surface-d4d012d4-3e0d-4b9d-873b-322e4cbbd595-dxhxKE">
                        </div>
                        <div class="savings-account-0bb68ac0-770b-44d3-b165-16fffeda0df5-5KhRZs font-class-1">
                            Current Account
                        </div>
                    </div>
                    <div class="down-icon-812083b6-fc99-4485-9ee3-88b124feb4db-srsNt6">
                        <img anima-src="{%static '/img/bx-chevron-down-5@1x.png' %}" class="bx-chevron-down-f0fab5c3-cffa-429f-906b-1a628eb98432-MEPpTx anima-flexbox-container" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="rectangle-37-552e300c-f5ec-4ebf-9cdc-5ed7f1a94e8c-BrQnoF">
                        </div>
                    </div>
                    <div class="about-razer-accounts-dee135a2-6208-4106-adac-0e1a6d3b0be6-DcJlKl font-class-1">
                        About<br />Razer Accounts
                    </div>
                    <div class="opening-a-razer-bank-account-8ed031d3-8fd6-4aaf-bb92-d8873c08b556-YuZrOc font-class-1">
                        Opening A Razer<br />Bank Account
                    </div>
                    <div class="lorem-ipsum-dolor-sit-amet-consetetur-sadipscing-elitr-sed-diam-nonumy-eirmod-tempor-invidunt-ut-labore-et-dolore-magna-aliquyam-erat-sed-diam-voluptua-at-vero-eos-et-accusam-et-justo-duo-dolores-et-ea-rebum-stet-clita-kasd-gubergren-no-sea-takimata-f52e7575-cf07-4daf-a3fd-f9e2d079c655-qb7jFm font-class-1">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                    </div>
                    <a href="openaccountapplication">
                        <div class="group-12-99c6c2db-85e3-4eaf-85f7-efd92c1ddfee-A4BFvI anima-flexbox-container">
                            <div class="group-85-0f138634-94f9-4867-a2e1-a161baa694bb-PU9x0f anima-flexbox-container">
                                <div class="overlap-group-17gSzi">
                                    <img anima-src="{%static '/img/path-13-3@1x.png' %}" class="path-13-c1147c4a-da75-43f6-b72f-c6bd848420f6-RFswqY" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <div class="apply-now-26ea6e01-68f2-490f-9a0a-9a479cd65559-lgzHlL font-class-1">
                                        Apply Now
                                    </div>
                                </div>
                                <div class="with-b13beb70-77bb-4700-a953-3a28ad023121-epuQCu font-class-1">
                                    with
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="openaccountapplication">
                        <img anima-src="{%static '/img/download-1@1x.png' %}" class="download-9f1347a2-562c-4259-9bbb-b729efe8bf01-LjSg62" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </a>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
