<!DOCTYPE html>
<html>
    <head>
        {% load static %}<link href="{%static '/img/favicon.png' %}" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
        <link href="{%static '/css/aboutloan.css'%}" rel="stylesheet" type="text/css"/>
        <meta content="AnimaApp.com - Design to code, Automated." name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="aboutloan"/>
        <div class="anima-container-center-horizontal">
            <div class="aboutloan anima-flexbox-container anima-screen ">
                <div class="auto-flex-1lKxzb anima-flexbox-container">
                    <div class="overlap-group1-CQ8Pk1">
                        <img anima-src="{%static '/img/razer-logo-10@1x.png' %}" class="razer-logo-1221fc4f-6aa9-4226-bf52-347dce608042-X4ODCb" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="down-icon-7c59294f-ba75-466b-b1b6-7d120ec8ca31-YInWON anima-smart-layers-pointers ">
                            <img anima-src="{%static '/img/bx-chevron-down-17@1x.png' %}" class="bx-chevron-down-e4e0c765-da4d-45f1-a80b-b22b24b27f6f-eNxqgP anima-flexbox-container" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <a href="myaccount">
                            <div class="return-to-dashboard-243b46c4-dfa6-4aef-a6c4-c4ab3f86eb4c-IvVw8d font-class-1">
                                Return to Dashboard
                            </div>
                        </a>
                    </div>
                    <div class="group-10-e33147ab-ba3c-4842-84cb-5754e8f020ed-OZDX03 anima-flexbox-container">
                        <div class="discover-1580d380-53e6-4af9-87c2-e2e907fbd48a-Og6TK0 font-class-1">
                            Discover
                        </div>
                        <div class="services-b083beda-c144-4140-8ae0-ed27eabce057-J0xza7 font-class-1">
                            Services
                        </div>
                        <div class="apply-54a7977d-33d3-4c5e-b844-2ec95e3f685b-8cZPNQ font-class-1">
                            Apply
                        </div>
                        <div class="contact-405c9e8d-7c22-44e7-95bf-ea5027e259a1-UFc98W font-class-1">
                            Contact
                        </div>
                    </div>
                    <div class="group-100-737ec5df-14a3-47b9-944d-b44d9ceb7c50-rbvWC1 anima-flexbox-container">
                        <div class="auto-flex1-PVjSxv anima-flexbox-container">
                            <a href="myaccount">
                                <img anima-src="{%static '/img/ellipse-17-10@1x.png' %}" class="ellipse-17-a28b5979-80ce-4b47-92ff-640efb70add8-9vhwPg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </a>
                            <div class="chrislim63-604020ce-8e6f-4af7-89b5-79974098b6b0-0uFLbv font-class-1">
                                CHRISLIM63
                            </div>
                        </div>
                        <div class="log-out-5f6da86b-54bb-4013-b5c8-e8999b8c6915-NLE6eR font-class-1">
                            LOG OUT
                        </div>
                    </div>
                </div>
                <div class="overlap-group-Y7zamN">
                    <img anima-src="{%static '/img/path-92-1@1x.png' %}" class="path-92-c4639383-939a-49cd-bca8-15f7f47b8539-wobHpy" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="group-95-9a8b003c-5f41-452d-8489-24d977e869b1-MrioCT">
                        <img anima-src="{%static '/img/rectangle-43-2@1x.png' %}" class="rectangle-43-e487a006-d937-4fe3-9caa-6ceec8d2b99f-z3khCl" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="{%static '/img/rectangle-105@1x.png' %}" class="rectangle-105-b0382d19-992f-475d-99c9-71a5fc38c626-Lzssqw" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="taking-a-loan-with-razer-bank-af0ea118-6277-4c94-9e4b-4a294f74b3d1-5PBhwF font-class-1">
                            Taking A Loan<br />with Razer Bank
                        </div>
                        <div class="what-type-of-loan-are-you-taking-df5f0469-a543-4ec0-aec0-f36b04fa86d9-sUDauN font-class-1">
                            What type of loan are you taking?
                        </div>
                        <div class="group-88-58f5e6f8-66b6-42f9-be44-322a43e5a586-KJ68Q3">
                            <div class="heres-what-youll-need-9b384d14-6c8e-4776-8f75-60c67b1f4611-0lqjCv font-class-1">
                                Here’s what you’ll need:
                            </div>
                            <div class="for-a-student-loan-fa208ccf-c24e-4ea1-bd6f-133b90f81a98-CFDxhE font-class-1">
                                For a STUDENT LOAN
                            </div>
                        </div>
                        <div class="text-field-outlined-unfilled-enabled-93f82976-16cc-4d40-9851-4b8a4b0695ba-iHMrVZ">
                            <div class="surface-2f29c661-5db6-46bf-9df3-650e50002c5a-x22nxG">
                            </div>
                            <div class="select-loan-type-142b5a10-ec0e-49bc-afea-c6586ced330f-9ZjmZi font-class-1">
                                Select Loan Type
                            </div>
                        </div>
                        <div class="down-icon-34950652-29d6-45c3-a920-29dd238d2431-q8lRwd">
                            <img anima-src="{%static '/img/bx-chevron-down-3@1x.png' %}" class="bx-chevron-down-5ef7bfbd-a2e5-4b8c-b44a-8f8b2516ff1e-TFcVQW anima-flexbox-container" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="rectangle-37-8f2922ea-dba8-404b-9731-56ac388dd2ff-Ug470D">
                            </div>
                        </div>
                        <a href="loanapplication">
                            <div class="group-12-f3f0d6b6-763f-423c-9510-9642e40c74a7-ajzDNc anima-flexbox-container">
                                <div class="group-85-105ca4b5-f06b-4b30-944c-a4a62f28c4b8-76qXpr anima-flexbox-container">
                                    <div class="overlap-group1-KcvdVN">
                                        <img anima-src="{%static '/img/path-13-2@1x.png' %}" class="path-13-53623bbd-83da-414c-b6d7-757f37b74fe2-Z2kjFj" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                        <div class="apply-now-8c724f63-3fcf-4c86-893b-88bd904b0faa-sam66a font-class-1">
                                            Apply Now
                                        </div>
                                    </div>
                                    <div class="with-3725e100-0203-4e65-8c65-675a58d49267-VANEuK font-class-1">
                                        with
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="loanapplication">
                            <img anima-src="{%static '/img/download@1x.png' %}" class="download-31f7ab62-47a9-4b84-9db2-3898335b35d9-uGxyaC" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </a>
                        <div class="how-to-apply-3-simple-steps-1-find-a-guarantor-2-apply-loan-online-3-start-repaying-guarantor-requirements-upload-the-following-details-to-razer-bank-1-aged-from-21-to-60-years-old-2-must-not-be-bankrupted-08187aaf-744c-4bed-837a-05d45d703161-ZPmLTc font-class-1">
                            How to apply<br />3 simple steps<br />1.	Find a guarantor<br />2.	Apply Loan online <br />3.	Start repaying  <br /><br />Guarantor requirements <br />Upload the following details to Razer Bank <br />1.	Aged from 21 to 60 years old<br />2.	Must not be bankrupted <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
