<!DOCTYPE html>
<html>
    <head>
        {% load static %}<link href="{%static '/img/favicon.png' %}" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
        <link href="{%static '/css/dashboard.css'%}" rel="stylesheet" type="text/css"/>
        <meta content="AnimaApp.com - Design to code, Automated." name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="dashboard"/>
        <div class="anima-container-center-horizontal">
            <div class="dashboard anima-flexbox-container anima-screen ">
                <div class="auto-flex-1lKxzb anima-flexbox-container">
                    <img anima-src="{%static '/img/razer-logo-10@1x.png' %}" class="razer-logo-e62e1fd3-61e9-4c47-a569-a3a823eaf0ac-v5AeEG" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="group-10-a690144c-7811-43b8-843b-8243cdbabea7-hinnfy anima-flexbox-container">
                        <div class="discover-d89a1d19-942a-49d5-aa04-ece45234b11c-lk77Me font-class-1">
                            Discover
                        </div>
                        <div class="services-00def1b2-7233-4dcc-b56a-077c8bbf93b1-SEGQ6B font-class-1">
                            Services
                        </div>
                        <div class="apply-dd5f0dfa-f489-4bef-943f-8782629e3f1c-JryZhz font-class-1">
                            Apply
                        </div>
                        <div class="contact-48f20b32-38d9-41f8-8776-7284c7513503-axrodT font-class-1">
                            Contact
                        </div>
                    </div>
                    <div class="group-11-dfa8f060-5e16-47b3-9add-45b63d9f31f8-dzitoy anima-flexbox-container">
                        <div class="group-100-d2c80f2a-42ad-4647-81db-d78a32eec140-P0E26r anima-flexbox-container">
                            <div class="auto-flex1-g8LO3x anima-flexbox-container">
                                <a href="myaccount.html">
                                    <img anima-src="{%static '/img/ellipse-17-10@1x.png' %}" class="ellipse-17-1c7d7e15-55e1-48ff-b7f3-82d561d24e1e-b8Qpmx" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </a>
                                <div class="chrislim63-5760e950-3769-474c-ad4f-9d30c3646a70-xTDdbF font-class-1">
                                    CHRISLIM63
                                </div>
                            </div>
                            <div class="log-out-b314dca2-f4dc-4fb4-9efb-7b16a1b58d3b-m4IC52 font-class-1">
                                LOG OUT
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlap-group-Y7zamN">
                    <div class="chirislim63-708c579b-2136-4ca0-af18-7d8ea44d5184-w0Ptie font-class-1">
                        CHIRISLIM63
                    </div>
                    <img anima-src="{%static '/img/line-4-3@1x.png' %}" class="line-4-4c653b20-2957-4539-9361-226f3acf09e2-nw3EzJ" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="welcome-to-your-dashboard-d7423fd6-7237-4b1a-8699-373101656174-rdPCRG font-class-1">
                    Welcome to your Dashboard
                </div>
                <div class="register-for-a-razer-account-to-be-eligible-to-open-a-razer-bank-account-and-apply-for-loans-hassle-free-05b49b98-05b1-4b7c-9f38-c06f74b9c41c-ZSRM3Y font-class-1">
                    Register for a Razer Account to be eligible to open a Razer Bank account and apply for loans hassle free.
                </div>
                <a href="loanapplication">
                    <img anima-src="{%static '/img/group-91@1x.png' %}" class="group-91-1503f96a-427e-4fad-8608-a7203fc889fb-dX9JPl" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/></a>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
