<!DOCTYPE html>

<html>
    <head>
        {% load static %}<link href="{%static '/img/favicon.png' %}" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
        <link href="{%static '/css/homepage.css'%}" rel="stylesheet" type="text/css"/>
        <meta content="AnimaApp.com - Design to code, Automated." name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="homepage"/>
        <div class="anima-container-center-horizontal">
            <div class="homepage anima-flexbox-container anima-screen ">
                <div class="auto-flex2-CJlPxF anima-flexbox-container">
                    <img anima-src= "{%static '/img/razer-logo@1x.png' %}" class="razer-logo-581c9ef1-7752-4b96-97eb-5cdf2d4972f5-tG6zTs" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="group-10-a026f624-9687-4b65-959b-844b13e7330e-MISrEf anima-flexbox-container">
                        <div class="discover-829fe5ff-2220-47bb-bc2d-49729bd2e591-vfL28M font-class-1">
                            Discover
                        </div>
                        <div class="services-22875c6d-49d0-4bb4-9179-2459dd2e475b-bP4KoH font-class-1">
                            Services
                        </div>
                        <a href="register">
                            <div class="apply-ac65a0a0-326e-4c71-94e7-fa314dc00fee-49X5h5 font-class-1">
                                Apply
                            </div>
                        </a>
                        <div class="contact-085c7324-9782-4a9b-bd38-6c7619103fc8-jIFZwy font-class-1">
                            Contact
                        </div>
                    </div>
                    <a href="register">
                        <div class="group-11-4535ecde-38c2-4794-9088-090ad00b6ba7-Ax6O7C anima-smart-layers-pointers ">
                            <div class="rectangle-39-15aa9074-2dba-473f-9f26-0fef559cb317-kTMSDY">
                            </div>
                            <div class="get-started-9d3c9bd1-114d-4bf7-979f-4c23a64a9b8f-vHCYC9 font-class-1">
                                Get Started
                            </div>
                        </div>
                    </a>
                </div>
                <div class="auto-flex4-soqr9B anima-flexbox-container">
                    <div class="auto-flex3-Q7lxLj anima-flexbox-container">
                        <div class="razers-first-online-banking-platform-af4255da-24ef-4a3a-ad4f-97a31a00b9d6-YWirRT font-class-1">
                            Razer’s first online <br />Banking platform
                        </div>
                        <div class="lorem-ipsum-dolor-sit-amet-consetetur-sadipscing-elitr-sed-diam-nonumy-eirmod-tempor-invidunt-ut-labore-et-dolore-magna-aliquyam-erat-sed-diam-6853b1ec-6f61-46ac-89d9-ff3b14364d68-H8M2m9 font-class-1">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                        </div>
                        <div class="group-12-44303a2e-6b59-4b8e-a2eb-2cae65636967-MFo2ld anima-smart-layers-pointers ">
                            <img anima-src="{%static '/img/path-13-1@1x.png' %}" class="path-13-65b6b3c4-02e1-4615-a699-3238eba96e90-7MEvPB" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="learn-more-8fecf3e4-b4be-4aae-868c-0f845444410f-TsS1N1 font-class-1">
                                Learn More
                            </div>
                        </div>
                    </div>
                    <div class="overlap-group1-9UGx2s">
                        <img anima-src="{%static '/img/rectangle-40@1x.png'%}" class="rectangle-40-787b4aa0-38ae-405f-8c48-5f289147e32b-GL2odE" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="group-53-9573e724-9e55-44d7-bc88-8dcc1356324a-TxZnGl">
                            <img anima-src="{%static '/img/ellipse-1@1x.png'%}" class="ellipse-1-398f8c52-33e8-4a0c-80c3-7ed016778444-lmxagW" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{%static '/img/ellipse-2@1x.png'%}" class="ellipse-2-b8a07502-d0fd-40c1-bd62-ff066c637fad-sa1NMQ" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{%static '/img/ellipse-2@1x.png'%}" class="ellipse-3-821d5e9a-8a04-4da4-a3f5-2017e942848d-7E1CwZ" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{%static '/img/ellipse-4@1x.png'%}" class="ellipse-4-192d5e84-5796-4ff5-8c1c-ab7e2ffd835f-mVUO4o" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{%static '/img/ellipse-5@1x.png'%}" class="ellipse-5-90fd6fac-cea3-4ecf-b7f1-e1757de63f08-QCfnK9" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{%static '/img/ellipse-6@1x.png'%}" class="ellipse-6-7d91c8da-2ac8-4e15-b051-0d183bf4d5e0-TpxT4Y" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="group-17-6fc0fd05-8954-47b9-a698-a4a2cb9e0ad4-3dAQbb">
                                <img anima-src="{%static '/img/path-14@1x.png'%}" class="path-14-41415a91-0c1b-4bd3-9348-dfa75a25795a-AvQj3D" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static '/img/path-15@1x.png'%}" class="path-15-8b016a80-20d4-45f0-8f7c-544882ce86e0-xIhonX" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="group-16-e8a492b8-66ff-4ffe-8c66-935f1b37ab40-LgKc0j" style="
    background-image: url({% static '/img/path-16@1x.png'%});
    background-size: cover;">
                                </div>
                                <img anima-src="{%static '/img/rectangle-46@1x.png'%}" class="rectangle-46-0b6ed1a6-6c9f-49a7-b4bf-16e95b923f40-dMljuN" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="rectangle-47-98c99370-7607-4c77-ba30-8d675f6432d6-bBRxfS">
                                </div>
                                <div class="rectangle-48-d71712aa-41e0-4f6a-a7db-34404f7ac299-8zXT9a">
                                </div>
                                <div class="rectangle-49-60b12309-1b3e-4676-a309-6263fae26fc9-8ig4E3">
                                </div>
                                <div class="rectangle-50-69f622f9-48ea-4d2b-b13a-0675f898a0ac-uV3bp0">
                                </div>
                                <div class="rectangle-51-5369904d-c261-426a-b3ce-4680fa2039b2-SK6wVj">
                                </div>
                                <div class="rectangle-52-7140b754-e3cd-4de6-a58f-92547781d972-o3NrxS">
                                </div>
                                <div class="rectangle-53-3cb7ef5e-f9c0-4274-a52f-aa998ee21c69-8lrLju">
                                </div>
                                <div class="rectangle-54-ff712c70-98d2-4adf-860e-65cc0e648681-wkNeYG">
                                </div>
                                <img anima-src="{%static '/img/rectangle-55@1x.png'%}" class="rectangle-55-9ea1f28e-5c09-4ee6-bfad-db03a5fc2ba2-mIzaxb" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <img anima-src="{%static '/img/ellipse-7@1x.png'%}" class="ellipse-7-1c18ae4d-f48a-406f-8887-2478c9ad7cac-WYN4ZT" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{%static '/img/ellipse-8@1x.png'%}" class="ellipse-8-dc0515e4-6633-43da-9c6e-43844f65a341-ZD4gKQ" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{%static '/img/path-17@1x.png'%}" class="path-17-fe72e584-c64a-44c7-bb42-846063c87a29-f4EozM" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{%static '/img/path-18@1x.png'%}" class="path-18-9d27949c-2170-401f-bbf5-6ddec7f5d111-iwUi5T" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="group-18-4c8c7a68-cdc2-4a8a-bb4b-95309a98458c-yP9ekK">
                                <div class="rectangle-56-0011e5f0-4120-45e0-b88e-569bad1376b2-RJmOsc">
                                </div>
                                <img anima-src="{%static '/img/path-19@1x.png'%}" class="path-19-fde6a585-2927-43a8-a5e0-d7682031f063-BxLeO5" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static '/img/ellipse-9@1x.png'%}" class="ellipse-9-d5089f79-a384-413f-a729-6446b74e2b1d-zUxi42" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="group-20-0ab08ffd-a34b-4011-806f-95e0da10e767-m7wEyW anima-flexbox-container">
                                <div class="group-19-ef66985a-b086-4818-bb7b-3ab04fa9d9e8-qd4Wvr">
                                    <img anima-src="{%static '/img/rectangle-57@1x.png'%}" class="rectangle-57-61fda4df-66ce-4da7-926a-55e53698f443-FAk57y" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="{%static '/img/rectangle-58@1x.png'%}" class="rectangle-58-5459e9f2-04e6-4c38-b1fc-6870dbcca5dd-FNZnCc" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="{%static '/img/rectangle-59@1x.png'%}" class="rectangle-59-b135eee5-2f38-4c59-9163-4dd24c2ccdd9-UnNDsh" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="{%static '/img/rectangle-60@1x.png'%}" class="rectangle-60-63661990-d015-4350-8ed9-c64859a1613c-XF9v0d" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                            <div class="rectangle-61-33c0ee48-87e3-45c0-b42a-f7fb943f608f-bljqiE">
                            </div>
                            <div class="rectangle-62-62af2ae9-2bd3-4354-be11-b778e39b2ec0-Nfru0y">
                            </div>
                            <img anima-src="{%static '/img/path-20@1x.png'%}" class="path-20-b62c6da6-0004-4071-95a5-0b209ebc8689-Z5sIT7" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="group-33-cdeeaa71-6f22-4f91-8378-8e6ac1115a6e-vAk3oz anima-flexbox-container">
                                <div class="group-23-5f35fa47-7d1b-46d3-9345-08cd14caee1e-ggNncX anima-flexbox-container">
                                    <div class="group-22-2c9d7bad-0ae3-49e5-b982-c82093febb27-bODt66 anima-flexbox-container">
                                        <div class="overlap-group-W2mN2v">
                                            <div class="rectangle-64-3c90dabb-0d4c-40b1-b3e1-11da00bfa2f6-XQocGv">
                                            </div>
                                            <div class="rectangle-65-a1d5ea01-3a37-4e94-9932-58a03ff3b304-awiPXB">
                                            </div>
                                            <div class="group-21-70b136fc-4d24-46e1-b922-f48b8526ce05-3WOpak anima-flexbox-container">
                                                <div class="rectangle-66-d80e4e97-a833-4e2b-b700-cf028326863a-4DCaVW">
                                                </div>
                                                <div class="rectangle-67-b9138a99-2ffd-4e87-bd1e-68ce3d78a35c-dZ4sdy">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rectangle-63-dc2d5c02-6919-4173-90da-af2a5116a227-BXgLkc">
                                        </div>
                                    </div>
                                </div>
                                <div class="group-26-b67beaff-dfd8-4a81-a32a-25c65297fe08-5DuVhB anima-flexbox-container">
                                    <div class="group-25-fa1aa401-76a5-45f5-9a00-f376ae1a5265-nSGwMq anima-flexbox-container">
                                        <div class="overlap-group-2Yc88g">
                                            <div class="rectangle-69-6cf6daba-f77f-44f1-953b-142a0b84aa1b-JYJV48">
                                            </div>
                                            <div class="rectangle-70-84df3293-4d81-4aa2-894a-8570d2b9b677-LnWxgJ">
                                            </div>
                                            <div class="group-24-7df0a4ed-e5e5-406d-a7fc-5340a1e2e402-FK8taX anima-flexbox-container">
                                                <div class="rectangle-71-b8eca6fc-7925-43c4-b045-d0da2cff67b5-jmk3wj">
                                                </div>
                                                <div class="rectangle-72-0adf2595-5695-41b3-9268-75afcecdbb68-x01mx3">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rectangle-68-637dec13-b819-4f6e-a7fb-e2d3fb13e5cd-jXYrJ3">
                                        </div>
                                    </div>
                                </div>
                                <div class="group-29-15ad9d58-be5b-4765-9e83-5418402f91ff-Z02zIZ anima-flexbox-container">
                                    <div class="group-28-fd049b93-157b-4d0a-92ee-21660655985c-S6Ovff anima-flexbox-container">
                                        <div class="overlap-group-Uv6Ly7">
                                            <div class="rectangle-74-162a0d37-5a7c-4f6d-894d-c97c6db5ccbc-Nz40hT">
                                            </div>
                                            <div class="rectangle-75-d58c8574-7036-4ee8-a00a-300bddd314d8-BdbyhF">
                                            </div>
                                            <div class="group-27-9887e0df-31eb-47e3-9b32-440ded93bf11-B70l5x anima-flexbox-container">
                                                <div class="rectangle-76-1b471e7f-56e3-4f2c-86b4-1d20923c8f11-lxwggd">
                                                </div>
                                                <div class="rectangle-77-3e5cfd3d-7c15-4733-902d-a7296576ee76-aRVPAn">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rectangle-73-0666f2a5-c623-4273-a053-10e74b7a1c51-3zn4Hd">
                                        </div>
                                    </div>
                                </div>
                                <div class="group-32-90a5c05b-d9d1-4b1c-a101-087e8f13c9c1-O6ioEW anima-flexbox-container">
                                    <div class="group-31-74425a92-91ad-4ec2-bab4-e16c5aedf294-lI8WIx anima-flexbox-container">
                                        <div class="overlap-group-iEGJBY">
                                            <div class="rectangle-79-53bf53cd-5e95-48ed-a987-735aa16c03d9-21kYmu">
                                            </div>
                                            <div class="rectangle-80-1028ae99-3652-49a1-8cce-bcd2a170e350-lLdx5B">
                                            </div>
                                            <div class="group-30-20fd606a-8300-4c62-8631-a22221c7ffe2-BmJwHH anima-flexbox-container">
                                                <div class="rectangle-81-6c2b3db0-948b-4072-84f1-b86ebd8763f7-VzlP1H">
                                                </div>
                                                <div class="rectangle-82-ca14d217-d30e-491f-a514-dadb273661af-Kxsikl">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rectangle-78-8d951452-5721-45fc-9977-90ddd78df6de-lFbdyy">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rectangle-83-5e2cf0be-f8c2-4762-be0c-b16585c4ac1d-0GQCqR">
                            </div>
                            <img anima-src="{%static '/img/ellipse-10@1x.png'%}" class="ellipse-10-dd02314c-14af-497b-b617-3a653f9e573d-n1MBvx" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{%static '/img/path-21@1x.png'%}" class="path-21-6999a4f0-1cf5-4ab6-b668-562a90381821-3Zoda1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="group-36-9f7ac5e2-6139-4264-9141-5beb40b3fbd9-GQk4W6">
                                <div class="rectangle-84-205751a3-afe3-45d3-bd59-f52795f1643c-XH4mvs">
                                </div>
                                <img anima-src="{%static '/img/rectangle-85@1x.png'%}" class="rectangle-85-29127513-71ed-4420-b621-c0630443177a-02IX4P" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="rectangle-86-5947c2ee-1b92-449f-b405-b14205840af8-lFpOnF">
                                </div>
                                <div class="rectangle-87-8b14e063-78e7-46ad-8409-72ecc45839e0-x5zNvM">
                                </div>
                                <img anima-src="{%static '/img/ellipse-11@1x.png'%}" class="ellipse-11-453d4dae-0970-426a-94f0-ca5c3523d0fc-Ep5rWn" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="rectangle-88-6a76d9a5-9b35-4b20-9128-ee350d97dcf9-bIPxlZ">
                                </div>
                                <img anima-src="{%static '/img/rectangle-89@1x.png'%}" class="rectangle-89-2f6f00c1-efb2-4c81-9419-809c9311972e-FvrdHV" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="rectangle-90-105e55df-5be0-4c84-9093-266964eef71b-UJ71m4">
                                </div>
                                <img anima-src="{%static '/img/rectangle-91@1x.png'%}" class="rectangle-91-f7324370-490b-4b76-b1a0-9c570e2f7a90-NhvBbk" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static '/img/rectangle-92@1x.png'%}" class="rectangle-92-be0210ac-480a-4560-a861-c24f7c66b2bc-xmyfbc" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="group-35-b4142343-908c-4a7c-a9cc-a9cd27b93020-Gyo3NY">
                                    <div class="group-34-e712d6ea-1fa2-497c-84d2-aea0c866411f-BiuGzo anima-flexbox-container">
                                        <img anima-src="{%static '/img/path-22@1x.png'%}" class="path-22-45fa9928-fbca-46f0-8028-a09c4feab048-jq1J4e" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                    <div class="rectangle-93-c7b1013c-364f-4889-95f9-ddf27d280ae7-X7CgGc">
                                    </div>
                                    <img anima-src="{%static '/img/path-23@1x.png'%}" class="path-23-b8f8698f-e26e-4774-8e76-36c342752677-aplEQC" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                            <img anima-src="{%static '/img/group-37@1x.png'%}" class="group-37-d44cb34a-6d15-4f92-b550-3dc657359dff-olf8P2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="group-38-c0a71b35-9217-4e41-a655-d78ead994ab3-w2v0uH">
                                <img anima-src="{%static '/img/path-37@1x.png'%}" class="path-37-e654f5cc-5fd2-4d2f-b6d2-ef5659fc67ed-PbuzyU" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static '/img/ellipse-12@1x.png'%}" class="ellipse-12-20bddf1e-eee0-4191-b287-f5ea41186ae9-CJpydF" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="group-39-5bb8aba3-e205-4ebb-8f40-6b2555af9038-I7GC9T" style="
    background-image: url({% static '/img/path-38@1x.png' %});
    background-size: cover;">
                            </div>
                            <img anima-src="{%static '/img/path-39@1x.png'%}" class="path-39-7976c90e-a31a-41e1-879c-537f8353976d-RfWEWO" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <!STOP HERE><img anima-src="{%static '/img/path-40@1x.png'%}" class="path-40-6a16160e-153b-4555-b68a-1f99ec506d93-qcKlxP" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="group-40-13362357-5ce0-4f6c-92d0-02f73c035952-wDMqPx">
                                <img anima-src="{%static '/img/ellipse-13@1x.png'%}" class="ellipse-13-c6720452-ffb0-47a0-ac23-c9b69353d516-1yLGsw" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static '/img/ellipse-14@1x.png'%}" class="ellipse-14-de918a3a-dce4-4ad0-8981-dc2a047c3079-0qtES5" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="group-42-d812cfef-e3a1-4a10-93ff-70cf741427d0-Hg12xI">
                                <img anima-src="{%static '/img/rectangle-94@1x.png'%}" class="rectangle-94-bfed4a56-c8c9-4a52-939d-5f28c97a75b1-AUsMik" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="rectangle-95-d3ac1b85-357d-4e90-9608-a2a3e20964a5-91soJm">
                                </div>
                                <img anima-src="{%static '/img/rectangle-96@1x.png'%}" class="rectangle-96-45d184c8-8aab-4a81-98da-c87ebae3f988-FnMeza" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static '/img/rectangle-97@1x.png'%}" class="rectangle-97-52cc5a0a-c23a-4fc1-ac30-289e2a40ddf3-gfPqVt" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static '/img/path-41@1x.png'%}" class="path-41-20acdf52-8514-442b-ad68-3c4337f3e08d-fXxp1T" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="group-41-fd274db6-48cd-4356-a165-fcac7d09054d-tUSWe1 anima-flexbox-container">
                                    <img anima-src="{%static '/img/path-44@1x.png'%}" class="path-44-a613f2dd-4a65-49f3-9498-8da5792749e1-HdEPCZ" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="{%static '/img/path-43@1x.png'%}" class="path-43-dce8eaf6-2df3-47b8-a462-ee9472fca5c2-SBpYcZ" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="{%static '/img/path-42@1x.png'%}" class="path-42-31a3ee27-e95b-4819-b0c9-0c1ccb77b740-Ojbo7x" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                            <div class="group-43-5f213b94-2321-4be5-bb1b-ff8f092592ac-QQ4GkS">
                                <div class="rectangle-98-2980aeea-8d88-4960-a462-253c2efd6d86-7hIq51">
                                </div>
                                <img anima-src="{%static '/img/path-45@1x.png'%}" class="path-45-bbcbeded-41db-44f0-a87e-37709e9f7428-Gppy2K" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static '/img/ellipse-15@1x.png'%}" class="ellipse-15-67bfb54a-75d7-4acc-9a5f-9bee1dc37845-xlFZA5" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="group-44-8beb80ef-b111-410e-b7a4-a5cd1220add0-xjxpiP anima-flexbox-container">
                                <img anima-src="{%static '/img/path-46@1x.png'%}" class="path-46-b0dca4ef-f787-4e07-b8f5-b4a0be023d26-lMQOE8" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="group-45-00cb71de-30f7-43ea-8b75-7d80c8b2edcf-4qPLGx anima-flexbox-container">
                                <img anima-src="{%static '/img/path-47@1x.png'%}" class="path-47-a3ce5d88-9fa0-4e9d-a1dc-4d8278e9f6f9-spafVb" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="group-47-7a1406f2-056c-4faa-b8e1-eef7bc7f3ba6-2d66P3">
                                <div class="group-46-f8117571-e6df-4cba-991a-8ebd65ac51d8-hFJqvJ">
                                    <div class="rectangle-99-4d3a85c1-0035-4d5d-8f02-19465847edb3-7Q7DgG">
                                    </div>
                                    <div class="rectangle-100-cd304b0a-50cc-409f-9647-a6561c19149e-FiekU0">
                                    </div>
                                </div>
                                <img anima-src="{%static '/img/path-48@1x.png'%}" class="path-48-5b7630e3-b6d8-4b16-ae9a-81c506e51626-x5YriI" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static '/img/path-49@1x.png'%}" class="path-49-e277e4a4-e219-4784-9e24-640bb9ac1a0c-FEci9d" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static '/img/path-50@1x.png'%}" class="path-50-e287221e-9025-424c-93ad-58e67356141a-KDXXcm" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static '/img/path-51@1x.png'%}" class="path-51-8f347094-6e5b-4304-bd8f-202ea4f3aed4-HbBLVV" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static 'img/path-52@1x.png'%}" class="path-52-f15974e7-daf3-4c94-b00e-d0b3e65174e4-u19DXc" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static 'img/path-53@1x.png'%}" class="path-53-2de7f9e7-7261-41b8-a72b-d0b1c616d2fb-OxRf0n" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static 'img/path-54@1x.png'%}" class="path-54-21bd0141-bab8-4fcb-873e-f875f7752839-LPxsnM" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static 'img/path-55@1x.png'%}" class="path-55-d98c026b-72b6-4266-ae50-3a86fe0ae2fa-goHSnr" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static 'img/path-56@1x.png'%}" class="path-56-9bbeb020-0da9-46b5-b8fc-94241ace20f5-xMzErL" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static 'img/path-57@1x.png'%}" class="path-57-bd0705fa-d661-4a12-8d17-1e626e6bd542-ronvwZ" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static 'img/path-58@1x.png'%}" class="path-58-0adeef44-8d48-43da-a770-1bd553b8dde8-A3qDHl" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static 'img/path-59@1x.png'%}" class="path-59-ff8b3f74-2685-446b-acde-9e0992eb8682-x0eVDR" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static 'img/path-60@1x.png'%}" class="path-60-24f8769c-8ea0-4b38-9f6d-9d53a9f0d1fa-5uvbCV" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static 'img/path-61@1x.png'%}" class="path-61-01a8dc37-9652-4ddd-aec7-68ab8e0900c8-pfuIzG" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static 'img/path-62@1x.png'%}" class="path-62-8bd7499b-f48f-45de-9ff0-845770a5d1cf-xMPdDk" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static 'img/path-63@1x.png'%}" class="path-63-77344b85-3903-453c-9104-f86df9f35351-QgPyWw" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="group-49-06ffc59d-c61a-4616-8456-36bba3112355-QGgRxA">
                                <img anima-src="{%static 'img/path-64@1x.png'%}" class="path-64-0f706298-97a8-4053-8c26-a9dc4417ecdb-8vaqyr" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static 'img/path-65@1x.png'%}" class="path-65-9a79b64a-9fd8-48cc-a41b-13d93f3bfdd9-Rkmmgx" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static 'img/path-66@1x.png'%}" class="path-66-2bb03023-8d48-47dc-88c6-23f4786ffe32-fUHlFm" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static 'img/path-67@1x.png'%}" class="path-67-20d1fcd4-fa40-4509-a1cf-422e77be5d66-orxXZq" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static 'img/path-68@1x.png'%}" class="path-68-6c3a508a-afc2-4753-8d84-f3694bbff772-kgyjbZ" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static 'img/path-69@1x.png'%}" class="path-69-425c74d9-48de-4370-aabb-3a3d011d3f13-VzMSmw" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static 'img/path-70@1x.png'%}" class="path-70-5d2db051-cf01-4ad0-96c0-0b64f827e7f1-1paOVV" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static 'img/path-71@1x.png'%}" class="path-71-d6e0b5c2-0988-48d7-8b4a-d8313b48086a-XjVpq8" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static 'img/path-72@1x.png'%}" class="path-72-07e91ae7-e93f-46db-9804-7cc1b734a17c-1xu2Vc" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static 'img/path-73@1x.png'%}" class="path-73-3e9f573a-a6d4-4863-9f23-78df7e4be6cd-j7VO7x" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static 'img/path-74@1x.png'%}" class="path-74-edf90af4-b2ca-40bb-93b6-518101098e0a-MHYf4f" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static 'img/path-75@1x.png'%}" class="path-75-82faba37-88e1-4273-94bb-962fef0227a9-pFidvu" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="group-48-0502b5ad-8aef-48bf-ba82-2643a74d3778-L9Ve9i anima-flexbox-container">
                                    <img anima-src="{%static 'img/path-76@1x.png'%}" class="path-76-10a8c204-2db6-43f2-b962-e99d53ce3fb1-wnFWNX" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="{%static 'img/path-77@1x.png'%}" class="path-77-21c1f0b3-b503-4ece-adb0-4382a301c741-zpXcbz" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                                <img anima-src="{%static 'img/path-78@1x.png'%}" class="path-78-84dfefbf-1e21-4923-978f-e20754da221a-IgL3EP" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static 'img/path-79@1x.png'%}" class="path-79-582930a4-67f6-4763-98dc-f35136d4cfd3-HcZZV7" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static 'img/path-80@1x.png'%}" class="path-80-1fd8c410-79b9-4da8-b28a-c15e90841561-Ukjj7T" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static 'img/path-81@1x.png'%}" class="path-81-b8eb3d41-7179-49cc-8123-458b8a66e2de-kDZrQs" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static 'img/path-82@1x.png'%}" class="path-82-907f5cf5-6e9c-48c6-806c-fd46c5c3e8be-LopaBE" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static 'img/path-83@1x.png'%}" class="path-83-722f0e9b-4e57-4717-81bb-0f4a15e0c8b8-PSQ2QX" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static 'img/path-84@1x.png'%}" class="path-84-4a10eee3-33a7-411f-addb-ea9429d3e45f-Vtyl3z" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="group-52-133e31b0-4b45-43d9-940d-d4af28219372-nEJs4d anima-flexbox-container">
                                <div class="overlap-group2-Vo8kJU">
                                    <div class="group-50-139287ee-934c-46bc-bca6-8a6d6f6d1a05-o3d03n" style="
    background-image: url('{%static 'img/path-85@1x.png');
    background-size: cover;">
                                    </div>
                                    <div class="group-51-cf8aa065-bc9f-4c1b-a0f3-ec9b76fa35af-2RnvVf" style="
    background-image: url('{%static 'img/path-86@1x.png');
    background-size: cover;">
                                    </div>
                                </div>
                                <img anima-src="{%static 'img/ellipse-16@1x.png'%}" class="ellipse-16-f00b5e85-ea63-44af-b66b-a6c895373c02-wuSn36" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="auto-flex1-t5q8Pb anima-flexbox-container">
                    <div class="overlap-group2-rQ4F4A">
                        <img anima-src="{%static 'img/rectangle-41@1x.png'%}" class="rectangle-41-e1b986f1-5d09-42c8-8d91-49b888253674-Fpsszu" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="razer-bank-online-635259fb-408b-4cca-b165-e7881b74803d-XnQgod font-class-1">
                            Razer Bank<br />Online
                        </div>
                        <div class="lorem-ipsum-dolor-sit-amet-consetetur-sadipscing-elitr-sed-diam-nonumy-eirmod-tempor-invidunt-ut-labore-et-dolore-magna-aliquyam-erat-sed-diam-3760abb5-181f-4f5a-806b-1e9e8e1ce841-9HkYhy font-class-1">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                        </div>
                        <div class="lorem-ipsum-dolor-sit-amet-consetetur-sadipscing-elitr-sed-diam-nonumy-eirmod-tempor-invidunt-ut-labore-et-dolore-magna-aliquyam-9193235c-22ba-4b4b-a404-b2fc7b354392-8fX0GU font-class-1">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                        </div>
                        <img anima-src="{%static 'img/mask-group-3@1x.png'%}" class="mask-group-3-d515e302-cf9c-4096-b042-4682c00f4079-2BVbcW" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="group-54-a4398414-f91d-42d5-8213-2aef9842e17e-lhGPOt">
                            <img anima-src="{%static 'img/rectangle-102@1x.png'%}" class="rectangle-102-18846806-0e24-42ea-a936-2f1ab4d88653-G0QGoJ" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="see-what-you-can-do-with-razer-bank-a12180ed-70a3-4229-adf1-b7087b1ce617-DcNuyH font-class-1">
                                See what you can do with Razer Bank
                            </div>
                        </div>
                    </div>
                    <div class="overlap-group3-F1K31c">
                        <img anima-src="{%static 'img/rectangle-42@1x.png'%}" class="rectangle-42-9c163d22-2050-4c4b-b83b-aa69e49648a4-mgHDL0" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="{%static 'img/rectangle-43@1x.png'%}" class="rectangle-43-f6e5ff78-f916-4954-82bc-fca7f894f3bd-EjmDJk" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="group-14-e4fc6860-0993-420c-a796-822c937f305a-0r02xP anima-flexbox-container">
                            <div class="open-an-account-with-razer-bb4b4cf9-17a0-4c87-a737-e0764f6080f3-cICyHr font-class-1">
                                Open an account <br />with Razer
                            </div>
                            <div class="lorem-ipsum-dolor-sit-amet-consetetur-sadipscing-elitr-sed-diam-nonumy-eirmod-tempor-invidunt-ut-labore-et-dolore-magna-aliquyam-erat-sed-diam-f066b04c-df88-422d-8aa1-2e08a8f3a141-fUfzDs font-class-1">
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                            </div>
                        </div>
                        <div class="group-15-685c442e-6561-4fe6-a374-4621c06f9ee8-RL4jux anima-flexbox-container">
                            <div class="apply-for-a-loan-online-c24d6995-c193-4c2d-8edf-5e6030f23355-F5iKGI font-class-1">
                                Apply for a loan<br />Online
                            </div>
                            <div class="lorem-ipsum-dolor-sit-amet-consetetur-sadipscing-elitr-sed-diam-nonumy-eirmod-tempor-invidunt-ut-labore-et-dolore-magna-aliquyam-erat-sed-diam-aebcd3a8-fe7f-4437-9dd2-b7e14dedc86f-ETNZXb font-class-1">
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                            </div>
                        </div>
                        <a href="register">
                            <div class="group-55-af0e95da-e4c0-47f2-b2c4-5e0587f29045-7MI6GR">
                                <div class="rectangle-39-791f9d88-e1d1-45ce-b6c9-0742bc8c2c4b-EDdpYh">
                                </div>
                                <div class="get-started-9bcb4c06-eb6f-404e-af20-45487fca9a4b-iMiPEM font-class-1">
                                    Get Started
                                </div>
                            </div>
                        </a>
                        <a href="login">
                            <div class="group-58-28690abf-4894-4c5b-bccb-345744ff77a1-7yxH9O">
                                <div class="rectangle-39-fb4b942b-cde7-4440-8863-0a6ad3ef6ff1-Hjg8Kk">
                                </div>
                                <div class="get-started-55c704ad-8b67-49a0-aee8-d53cfb92b630-hitzcW font-class-1">
                                    Get Started
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="overlap-group-98HsSG">
                        <img anima-src="{%static 'img/path-89@1x.png'%}" class="path-89-c86a9026-0fb9-4090-af41-5aedb29d7080-ZyINJa" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="group-9-6629e049-699e-42b3-8e13-eca66f5047fe-sl6Hap anima-flexbox-container">
                            <div class="open-an-account-with-razer-f7c0d1cf-90a7-4047-a54c-f9a1bb9bc238-AAK4x4 font-class-1">
                                Open an account <br />with Razer
                            </div>
                            <div class="lorem-ipsum-dolor-sit-amet-consetetur-sadipscing-elitr-sed-diam-nonumy-eirmod-tempor-invidunt-ut-labore-et-dolore-magna-aliquyam-erat-sed-diam-670172d8-c6cc-4342-bdf7-1201572275f1-JhVzqT font-class-1">
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                            </div>
                        </div>
                        <a href="register">
                            <div class="group-13-5524302a-c8f0-443b-81f7-bc4dfec24396-UAyYQK">
                                <img anima-src="{%static 'img/path-13-1@1x.png'%}" class="path-13-508ce5cb-68c6-4892-89c6-c93ee2a32abf-5D0f6M" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="get-started-81f8c2f6-ed81-4a60-b216-61961e27bc35-x0CBOw font-class-1">
                                    Get Started
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="auto-flex-NJ62Do anima-flexbox-container">
                        <div class="c-team-zobos-2020-75414718-43ed-4f38-9df3-d72fb45ef66c-TaqlDB font-class-1">
                            © Team Zobos 2020
                        </div>
                        <div class="overlap-group4-5Q7Sl3">
                            <div class="english-dd6f8016-aa97-4860-a755-59707b9dd337-iIWSEL font-class-1">
                                English
                            </div>
                            <div class="down-icon-d1d29cf2-db97-443f-82ac-c0ede074cb26-KVpcDJ">
                                <img anima-src="{%static 'img/bx-chevron-down@1x.png'%}" class="bx-chevron-down-d86d03f6-cd62-493c-8325-996e7b01eaf8-y94wmf anima-flexbox-container" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="rectangle-37-a740ea54-2c8b-48e5-b6a5-15f5fd850c00-its6Kb">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
