<!DOCTYPE html>
<html>
    <head>
        {%load static%}<link href="{%static 'img/favicon.png' %}" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
        <link href="{%static 'css/letteroffer.css'%}" rel="stylesheet" type="text/css"/>
        <meta content="AnimaApp.com - Design to code, Automated." name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="letteroffer"/>
        <div class="anima-container-center-horizontal">
            <div class="letteroffer anima-flexbox-container anima-screen ">
                <div class="auto-flex-1lKxzb anima-flexbox-container">
                    <div class="overlap-group-4tDfkw">
                        <img anima-src="{%static 'img/razer-logo-10@1x.png' %}" class="razer-logo-a36a7ba5-9420-42dd-8d14-37266ba8b257-uExG1B" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="group-86-9647f327-1f7e-447d-988d-4134adcb19b4-x0ypRr anima-smart-layers-pointers ">
                            <div class="down-icon-83a7cc93-f1d7-4bd5-98ba-4c1e0a4cb613-Umww3U anima-flexbox-container">
                                <img anima-src="{%static 'img/bx-chevron-down-17@1x.png' %}" class="bx-chevron-down-3e4e7dce-a31e-4f48-9605-5fd48f39cdd7-H0sCxK anima-flexbox-container" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <a href="dashboard">
                            <div class="return-to-dashboard-04f9a640-bf1e-4df9-a316-fb2d81fa36bb-o2KAp4 font-class-1">
                                Return to Dashboard
                            </div>
                        </a>
                    </div>
                    <div class="group-10-3fdac807-5aae-4def-b2b0-72738029721d-nXFXYb anima-flexbox-container">
                        <div class="discover-479d8c97-d00a-46eb-bd0c-8ef48caf9fe5-nZNYGj font-class-1">
                            Discover
                        </div>
                        <div class="services-bc2e1da5-634e-4875-9d79-30e94199fcd1-mA460y font-class-1">
                            Services
                        </div>
                        <div class="apply-89fb79c6-bf89-4534-9e7a-8b383531bb78-4zwxAx font-class-1">
                            Apply
                        </div>
                        <div class="contact-e5d2a835-ca5f-43d3-afe1-a0e80559f004-VPcwIX font-class-1">
                            Contact
                        </div>
                    </div>
                    <div class="group-100-f81945d7-c91c-4f5b-8604-428233f17c99-Oau3UX anima-flexbox-container">
                        <div class="auto-flex1-PjSvx2 anima-flexbox-container">
                            <a href="myaccount">
                                <img anima-src="{%static 'img/ellipse-17-10@1x.png' %}" class="ellipse-17-2a4c5c48-88ce-431a-8901-d6b88476a806-gGgAXx" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </a>
                            <div class="chrislim63-879045d8-cccd-4f81-9662-e037cc409083-tL3nrv font-class-1">
                                CHRISLIM63
                            </div>
                        </div>
                        <div class="log-out-282c47b8-6ce7-41a1-a9c7-837f73723d96-qUMlKg font-class-1">
                            LOG OUT
                        </div>
                    </div>
                </div>
                <div class="overlap-group1-yBpAcz">
                    <img anima-src="{%static 'img/rectangle-43-10@1x.png' %}" class="rectangle-43-f1310a5c-4f01-4fbe-ac54-e0ab995246aa-lzejUy" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="application-id-1afb3f9a-4ddd-48b5-ba89-1ae9de3b4f40-Jn3elZ font-class-1">
                        Application ID
                    </div>
                    <div class="date-of-application-b7af45cf-2f2e-4481-8c80-0c27c8a61a06-IjPFag font-class-1">
                        Date of Application
                    </div>
                    <div class="type-of-loan-681eaed3-e828-4e62-ba99-d4fcf4ce0c16-eOxUz7 font-class-1">
                        Type of Loan
                    </div>
                    <div class="status-e3ad8270-6e62-4d7e-b5c1-ef4de4901c35-raXZxW font-class-1">
                        Status
                    </div>
                    <div class="a2551441291-67526745-6010-4103-9abb-6233632ba7f5-oVjw6a font-class-1">
                        2551441291
                    </div>
                    <div class="a04-may-2020-eee42e7c-d87f-4ce2-8258-ca77e17293b3-nkLxqQ font-class-1">
                        04 MAY 2020
                    </div>
                    <div class="student-loan-602be0aa-3b6d-45bd-aecc-2d54be47d725-kLpBJx font-class-1">
                        STUDENT LOAN
                    </div>
                    <div class="approved-2bdabf80-f3b3-4b94-b907-0a7a3d0743c1-4xhHT7 font-class-1">
                        APPROVED
                    </div>
                    <div class="loan-will-be-disbursed-after-the-documents-below-are-signed-a8ebdcf4-5094-4cfa-888f-6e73b8b7eafd-UYXHS0 font-class-1">
                        Loan will be disbursed after the <br />documents below are signed:
                    </div>
                    <div class="loans-a0354cff-13a1-41f5-b171-13c2076b030f-QtPOJH font-class-1">
                        LOANS
                    </div>
                    <img anima-src="{%static 'img/line-10-1@1x.png' %}" class="line-10-8db3945b-1d51-4524-b765-5866372b1629-0b9FHx" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="letter-of-offer-ac57e24a-b90b-4d2e-ab44-551a197565d9-4Co0vo font-class-1">
                        Letter of Offer
                    </div>
                    <img anima-src="{%static 'img/path-996-1@1x.png' %}" class="path-996-bb521c11-ff28-432d-9641-989e9b51dfed-mdzJaI" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{%static 'img/loanofferletter-1@1x.png' %}" class="loanofferletter-b70b0463-b80f-45d9-91f9-d2c9f9f7440c-rdHy3v" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="rectangle-609-02917a04-f0b0-4b08-8298-564429c63fbe-xsliEl">
                    </div>
                    <div class="rectangle-610-cb0ea13b-4a5f-4b1b-b779-f4b02f96c503-L5ZaER">
                    </div>
                    <a href="signletter">
                        <div class="group-78-2499dd5a-9d1e-43a3-8c14-78026f1b9d9f-lV9fS8">
                            <div class="group-71-1ba69461-f6d5-4607-b312-c58ae2639137-xxT4VG anima-flexbox-container">
                                <div class="group-68-bd3e060a-2a62-4e7a-8048-9341e1bfaaa2-efmIOz anima-flexbox-container">
                                    <div class="group-67-f4dbc3b5-4833-4060-afec-d008ca2defe8-6DErFD anima-flexbox-container">
                                        <div class="group-62-3f7a73b7-ad9f-4a01-86fd-5543e45a1d4d-5zQicJ anima-flexbox-container">
                                            <div class="rectangle-103-e82f7eff-b1da-4e66-b2c0-cec28f9edf60-TPKgTu">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img anima-src="{%static 'img/download-2@1x.png' %}" class="download-f7a5fdbc-aeac-47ae-89b1-bbc7148d56bf-J0ec2v" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="sign-with-402fe7a2-b14a-4c43-ba6d-23287fc75909-vV3IWy font-class-1">
                                Sign with
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
