<!DOCTYPE html>
<html>
    <head>
        {% load static %}<link href="{% static 'img/favicon.png' %}" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
        <link href="{% static 'css/lettersigned.css' %}" rel="stylesheet" type="text/css"/>
        <meta content="AnimaApp.com - Design to code, Automated." name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="lettersigned"/>
        <div class="anima-container-center-horizontal">
            <div class="lettersigned anima-screen ">
                <div class="group-10-36535ad8-2ec1-49d8-ab5a-8c536159cb61-kbx7IG anima-flexbox-container">
                    <div class="discover-8d0f6fc3-407a-4264-86f8-4cc6fbc0f658-flkUwX font-class-1">
                        Discover
                    </div>
                    <div class="services-66ccf5ab-b195-4bcc-829c-d2a5049c4ead-3RQL3N font-class-1">
                        Services
                    </div>
                    <div class="apply-053a9452-7038-40e6-8ab3-e418c45ede9f-geM8Xx font-class-1">
                        Apply
                    </div>
                    <div class="contact-ecf99758-481e-410b-818c-a986e84be49b-x8Z5X5 font-class-1">
                        Contact
                    </div>
                </div>
                <img anima-src="{% static 'img/razer-logo-10@1x.png' %}" class="razer-logo-92fdbc78-a4eb-4bc8-8b67-9b92cb352ee0-B1hyiL" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="group-100-53dd6158-10a0-48b6-adba-e8b4a3413801-QChEje anima-flexbox-container">
                    <div class="auto-flex-DHXX2C anima-flexbox-container">
                        <a href="myaccount.html">
                            <img anima-src="{% static 'img/ellipse-17-10@1x.png' %}" class="ellipse-17-4b106f50-ce6d-4193-b633-9d4f2ef50efc-pcL8Mv" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </a>
                        <div class="chrislim63-d788eed0-1539-4191-86a4-ea7d8e7bb981-yDYk4W font-class-1">
                            CHRISLIM63
                        </div>
                    </div>
                    <a href="homepage"><div class="log-out-828cd9ff-5093-4a91-bd38-b9e6f25824c9-3swMxR font-class-1">
                        LOG OUT
                    </div></a>
                </div>
                <img anima-src="{% static 'img/rectangle-43-12@1x.png' %}" class="rectangle-43-339eae8d-d452-4316-80c0-42dcdab0cc40-ZTg0FL" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="group-98-0bed285e-059e-47c8-aa46-169169fdf54d-lTZ9gD anima-flexbox-container">
                    <div class="auto-flex1-qZUbvx anima-flexbox-container">
                        <div class="group-86-630e7391-8c03-43e8-9fee-a03bdb6a952b-XCaeNY anima-smart-layers-pointers ">
                            <div class="down-icon-1276ec21-78d5-40d2-864b-746c78f61073-PtPxSh anima-flexbox-container">
                                <img anima-src="{% static 'img/bx-chevron-down-21@1x.png' %}" class="bx-chevron-down-0c683f82-1dc4-4044-a505-00f17d2826b3-ZPgAyJ anima-flexbox-container" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <a href="dashboard.html">
                            <div class="return-to-dashboard-bb98ded3-0963-4220-aea9-8ac3086b09e6-31uvxU font-class-1">
                                Return to Dashboard
                            </div>
                        </a>
                    </div>
                    <div class="overlap-group-rZqhBo">
                        <div class="application-id-723e2f89-bc9e-4820-a22a-426cee203191-CPMzu9 font-class-1">
                            Application ID
                        </div>
                        <div class="date-of-application-1c1322a1-85ce-48de-80be-4b8c20046b9e-BRviLq font-class-1">
                            Date of Application
                        </div>
                        <div class="type-of-loan-0b42f1f6-9b31-4db7-be1b-b3503738f187-iiC0Eu font-class-1">
                            Type of Loan
                        </div>
                        <div class="status-6e5af987-a479-42c9-adbc-d0f7e8fb5134-dFYt6q font-class-1">
                            Status
                        </div>
                        <div class="a2551441291-01a9ac4a-5bea-402d-8ea3-1a903139c1b2-BvknBt font-class-1">
                            2551441291
                        </div>
                        <img anima-src="{% static 'img/rectangle-112-1@1x.png' %}" class="rectangle-112-e69843a1-52a9-44ef-ac11-63df40227626-KIDaVW" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="a04-may-2020-94663776-5b36-4bb8-adaf-315563e91275-ysoq56 font-class-1">
                            04 MAY 2020
                        </div>
                        <div class="student-loan-42a03c9e-750b-4b7a-a71b-a433fccd2540-NHeHNq font-class-1">
                            STUDENT LOAN
                        </div>
                        <div class="approved-4a86594d-0dbc-472e-93dc-7fe84960ba59-A0QEIS font-class-1">
                            APPROVED
                        </div>
                        <div class="loan-will-be-disbursed-after-the-documents-below-are-signed-316d29c3-cc64-482c-8b5e-b32bc7de3d2f-FaBWUT font-class-1">
                            Loan will be disbursed after the <br />documents below are signed:
                        </div>
                    </div>
                </div>
                <div class="loans-2249f816-38ac-40ff-af59-6d44125b20d1-xZv1FE font-class-1">
                    LOANS
                </div>
                <img anima-src="{% static 'img/line-10-1@1x.png' %}" class="line-10-05b5f33d-f02d-4c50-898c-d22f6bfbf82f-gzELR6" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="letter-of-offer-3581494a-445e-43e1-9d87-dd2242eb1ba9-uEbHe1 font-class-1">
                    Letter of Offer
                </div>
                <div class="terms-and-conditions-09f89c45-3c5c-476e-8ee0-3449c169d5cb-D58oiA font-class-1">
                    Terms and Conditions
                </div>
                <img anima-src="{% static 'img/ellipse-18@1x.png' %}" class="ellipse-18-57d601bf-8ce1-48b2-bbed-55c3233c2aaa-ebKg1q" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="group-107-5ac8c078-247f-4975-8310-f09f0fd2cc8a-1ZcgAp">
                    <img anima-src="{% static 'img/path-998@1x.png' %}" class="path-998-511955ad-222c-476a-9e60-b453af694ae8-2HEyay" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{% static 'img/path-997@1x.png' %}" class="path-997-814a52f2-57da-4907-a58c-518cf03b7549-yzOe0u" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
