<!DOCTYPE html>
<html>
    <head>
        {% load static %}<link href="{%static '/img/favicon.png' %}" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
        <link href="{% static '/css/loanapplication.css' %}" rel="stylesheet" type="text/css"/>
        <meta content="AnimaApp.com - Design to code, Automated." name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="loanapplication"/>
        <div class="anima-container-center-horizontal">
            <div class="loanapplication anima-screen ">
                <div class="group-10-815af1fc-75d7-455d-9945-51aacf092f0c-zIHxcM anima-flexbox-container">
                    <div class="discover-9b054edb-c768-4bec-a231-c1cb799c5110-lvsziP font-class-1">
                        Discover
                    </div>
                    <div class="services-d174d5bd-19f7-43ba-bd61-ad9900854611-gs0gIk font-class-1">
                        Services
                    </div>
                    <div class="apply-79333992-bafb-4377-9187-45b34614a56a-fSHUoQ font-class-1">
                        Apply
                    </div>
                    <div class="contact-fe0a9647-6a15-4ddd-ad0f-c7d7c56ac4a8-3yFxTx font-class-1">
                        Contact
                    </div>
                </div>
                <img anima-src="{%static '/img/razer-logo-10@1x.png' %}" class="razer-logo-dd9fc193-fd5c-4776-8215-5bca6080c8a2-8W1vSs" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <img anima-src="{%static '/img/rectangle-105-13@1x.png' %}" class="rectangle-105-4e7657c9-c19a-49b7-9ab7-1ce4f9dafc90-hMFWF9" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="taking-a-student-loan-with-razer-bank-264f6774-a3dd-4b99-b915-059bc1ed690c-kKDLQQ font-class-1">
                    Taking a STUDENT LOAN<br />With Razer Bank
                </div>
                <div class="group-100-d3e07821-2b4d-4a22-979a-aa39bd9c77b5-Pq7y6z anima-flexbox-container">
                    <div class="auto-flex-mTOG99 anima-flexbox-container">
                        <a href="myaccount">
                            <img anima-src="{%static '/img/ellipse-17-10@1x.png' %}" class="ellipse-17-9cb5bc47-8e3a-45d0-9023-85d44af25563-CbTbAe" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </a>
                        <div class="chrislim63-236a66dc-3f30-4644-998e-b4d5d27e4507-tVq4a8 font-class-1">
                            CHRISLIM63
                        </div>
                    </div>
                    <div class="log-out-ef6354bf-0937-41ef-b741-831fac28d1c6-6x6fD4 font-class-1">
                        LOG OUT
                    </div>
                </div>
                <div class="group-94-a3c9c343-b14b-4396-b5be-7f3d22776bfe-Q4bTgX">
                    <img anima-src="{%static '/img/path-92-3@1x.png' %}" class="path-92-080af5fe-7a14-4555-a922-44431edd953a-qKxZq4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="down-icon-afdc0323-9cd6-4d3d-a525-c443733fb06f-E0Q9mP">
                        <img anima-src="{%static '/img/bx-chevron-down-11@1x.png' %}" class="bx-chevron-down-66843d5e-037f-44b6-915e-431be162fe6b-LdfzAH anima-flexbox-container" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="rectangle-37-974c4888-e244-4be3-8c58-e338acf1f124-rVfVxy">
                        </div>
                    </div>
                    <img anima-src="{%static '/img/rectangle-43-5@1x.png' %}" class="rectangle-43-78711759-038f-4d1b-b48c-683fcc83f0ca-ERUg9A" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="student-loan-application-form-0e0105ed-aec7-43f9-9f79-41b9c418146a-IWEeK8 font-class-1">
                        STUDENT Loan Application Form
                    </div>
                    <div class="a1-personal-details-1524929b-bc12-482e-ae0e-74f23a73c833-oTQJ0X font-class-1">
                        1. Personal Details
                    </div>
                    <div class="a2-supporting-documents-85e94f26-4515-4650-a565-ed4940828e27-unV6Vl font-class-1">
                        2. Supporting Documents
                    </div>
                    <img anima-src="{%static '/img/path-991-1@1x.png' %}" class="path-991-2073d206-4a4f-4825-a530-3f9d56605648-RsuXnY" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="document-name-74a17e69-3137-4450-a6a6-c63ef7714790-tAUGNR font-class-1">
                        Document Name
                    </div>
                    <div class="guarantor-letter-4b11afb4-c3d6-479b-bd08-c4875bde826f-bAqjKA font-class-1">
                        Guarantor Letter
                    </div>
                    <div class="university-admission-letter-42874cdf-9bce-4b25-8cb7-8445c73cda26-SO1hrX font-class-1">
                        University Admission Letter
                    </div>
                    <div class="proof-of-residence-453e6d7c-3f15-4693-b62b-fc61edc9fa72-D1N8Ns font-class-1">
                        Proof of Residence
                    </div>
                    <div class="provide-the-latest-copy-within-last-3-months-of-any-of-the-items-below-20c97465-4496-45b2-9ce8-3dbc8c62acce-CzeuQ5 font-class-1">
                        Provide the latest copy (within last 3 months) of any of the items below:
                    </div>
                    <div class="group-86-45e5b0a3-468c-4826-80e0-5c8958bdd40e-NnFKSu anima-flexbox-container">
                        <div class="down-icon-5e38eb33-e54c-431d-80b8-5578c6dff55d-E2lpFm">
                            <img anima-src="{%static '/img/bx-chevron-down-10@1x.png' %}" class="bx-chevron-down-f5ed7cba-1ff7-4154-8a3d-84b801ae3f0f-nQbzqv" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="rectangle-37-2ade51d4-82e0-45b5-be40-e5a4f080eac7-WxaUEV">
                            </div>
                        </div>
                    </div>
                    <div class="upload-document-ce320427-2813-48f3-8a50-a9f1ab7d6c5b-Fc8d1b font-class-1">
                        Upload Document
                    </div>
                    <a href="loansubmit">
                        <div class="group-12-7de02fec-7908-48c4-8c56-bbe75de60959-PnHr0A anima-flexbox-container">
                            <div class="group-85-b7123687-e919-4608-b769-a396ed837bc4-a6KYPP">
                                <img anima-src="{%static '/img/path-13-5@1x.png' %}" class="path-13-1a1dfb23-d03e-48ef-8aa0-c068d679ed76-hS27cp" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="submit-application-63134de2-2825-4ef5-a308-ee1ad806ae8a-q1OIpx font-class-1">
                                    Submit Application
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="group-84-7857c59b-aae6-4312-817d-917323aa787e-AkXg7k anima-flexbox-container">
                        <div class="auto-flex2-euG4Mf anima-flexbox-container">
                            <div class="auto-flex-xxVOrt anima-flexbox-container">
                                <div class="text-field-outlined-unfilled-enabled-3c63a0b1-0ae3-4a95-860d-c9474eabcc85-z5Rn2F">
                                    <div class="surface-9c39a19c-39a2-468d-8c93-e554e8a21755-yx70C3">
                                    </div>
                                    <div class="name-as-per-nric-8467c676-f4d6-4313-bc4b-92268630dafb-rIgyx9 font-class-2">
                                        Name as Per NRIC
                                    </div>
                                    <div class="icon-visibility-filled-fc47efef-228d-493a-ad5c-a4d87ad99bcb-97GyRL">
                                    </div>
                                </div>
                                <div class="text-field-outlined-unfilled-enabled-d916b8cc-2256-480c-849b-da9a8a2efb47-6RIF34">
                                    <div class="surface-cec10614-c96f-4966-bbc7-ddae1a8653fb-89semR">
                                    </div>
                                    <div class="date-of-birth-a1c12651-2b37-405f-877f-ad751a2a77a4-DF5fl7 font-class-2">
                                        Date of Birth
                                    </div>
                                </div>
                            </div>
                            <div class="auto-flex1-EraUFx anima-flexbox-container">
                                <div class="text-field-outlined-unfilled-enabled-a05883a1-3a2d-41ca-b363-74f50843603f-aeMYcz">
                                    <div class="surface-05171c70-0c84-4d30-ad46-061897e29a1a-dVAejP">
                                    </div>
                                    <div class="nric-3aa1a51f-12cc-4410-b70e-5accfef7df8a-IeIePz font-class-2">
                                        NRIC
                                    </div>
                                </div>
                                <div class="text-field-outlined-unfilled-enabled-de97f0ee-c043-42d6-9680-2dc5d7089689-uaFx7x">
                                    <div class="surface-f132e8d4-85a9-492b-a860-1914ce8feb99-JhOHh0">
                                    </div>
                                    <div class="nationality-29cb5fde-ae33-4884-8e76-e66cbd4e43ae-Ttjrjr font-class-2">
                                        Nationality
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="overlap-group-fjjE7g">
                            <div class="text-field-outlined-unfilled-enabled-43f81f29-813f-48d8-ab60-2c7d5fe892fc-R37QX2 anima-flexbox-container">
                                <div class="overlap-group1-uzxhTp">
                                    <div class="surface-8661f300-8fd4-4dca-93d4-cda65958498c-kxFjMq">
                                    </div>
                                    <div class="address-8100c50d-3e84-4e34-9cbf-db06cf5e7498-17JoSG font-class-2">
                                        Address
                                    </div>
                                </div>
                                <div class="pdpa-554cc1a9-8042-4580-8a40-8318dc8c8c02-Dx7oUt font-class-3">
                                    PDPA
                                </div>
                            </div>
                            <div class="text-field-outlined-unfilled-enabled-75220437-3525-4608-b226-de20db73cc2c-Eu3Sxl anima-flexbox-container">
                                <div class="surface-0aacaa22-d698-4cac-811b-d1526b9d4093-cwDijd">
                                </div>
                                <div class="auto-flex-9YbP6t anima-flexbox-container">
                                    <div class="pdpa-89fb16c5-67f7-46a6-ab27-326e98dd21fc-c2sIXJ font-class-3">
                                        PDPA
                                    </div>
                                    <div class="privacy-agreement-7cfb7b10-c4d6-4c43-acf8-0a7c9f4116af-3ItPe1 font-class-3">
                                        PRIVACY AGREEMENT
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="myinfomessage">
                    <div class="group-78-b7014614-72f3-4594-b6aa-045b354d9e2f-S4ui1I">
                        <div class="group-71-d245e0fb-38a9-4017-ad54-b74cc3481d3f-IV7yxx anima-flexbox-container">
                            <div class="group-68-bc3febb3-7e6c-4b6e-b4d1-f80ad19c5694-kqvCMn anima-flexbox-container">
                                <div class="group-67-38debfe9-bb6d-4bec-86da-2ea0dfd0ec3f-D2bxMN anima-flexbox-container">
                                    <div class="group-62-f64bfdbb-8b5f-4bdc-a0ff-73fec4af01c4-wEOMXj anima-flexbox-container">
                                        <div class="rectangle-103-9779c43c-3a4c-4ba7-9eab-7682b9d4525e-1us656">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img anima-src="{%static '/img/download-2@1x.png' %}" class="download-e01784e6-4e3f-4e74-99dd-3c00e28063fc-7sTwat" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="retrieve-from-da2e5538-63d3-43b1-bc7d-f0485cb7dd7d-Cu6RYl font-class-1">
                            Retrieve from
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
