<!DOCTYPE html>
<html>
    <head>
        {% load static %}<link href="{%static '/img/favicon.png' %}" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
        <link href="{%static '/css/loansubmit.css'%}" rel="stylesheet" type="text/css"/>
        <meta content="AnimaApp.com - Design to code, Automated." name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="loansubmit"/>
        <div class="anima-container-center-horizontal">
            <div class="loansubmit anima-flexbox-container anima-screen ">
                <div class="auto-flex1-t5q8Pb anima-flexbox-container">
                    <img anima-src="{%static '/img/razer-logo-10@1x.png' %}" class="razer-logo-bf75e5ed-d4c4-4fe2-ba29-66e101d393e1-sSOltQ" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="auto-flex-NJ62Do anima-flexbox-container">
                        <div class="group-10-da53d82b-9aeb-41d1-806a-8c479833b650-GYK8f2 anima-flexbox-container">
                            <div class="discover-c5a227c2-b086-4ed7-b021-b7458d22aa00-d2SYKx font-class-1">
                                Discover
                            </div>
                            <div class="services-58cf4523-9fa0-463c-988f-5f8c372a66d7-uCxGex font-class-1">
                                Services
                            </div>
                            <div class="apply-7ad0ac97-2204-4928-934a-396325274ca6-55Rg20 font-class-1">
                                Apply
                            </div>
                            <div class="contact-72b0247e-15b3-4550-a800-ea4ee4db2532-Vg1Sve font-class-1">
                                Contact
                            </div>
                        </div>
                        <div class="application-id-2551441291-3a5bd311-c3ac-43a1-a007-db2b9400e309-vgdDJO font-class-1">
                            Application ID: 2551441291
                        </div>
                        <div class="your-application-has-been-received-1d8ec6eb-25aa-41d7-bada-38a6c0278469-pXNOqi font-class-1">
                            Your application has been received
                        </div>
                    </div>
                    <div class="group-100-ae996563-ce7b-40e9-9a7e-cc9eda580398-N4rDFx anima-flexbox-container">
                        <div class="auto-flex2-h8iOFN anima-flexbox-container">
                            <a href="myaccount.html">
                                <img anima-src="{%static '/img/ellipse-17-10@1x.png' %}" class="ellipse-17-48220a29-e458-4970-bde5-061229380325-fsHP5g" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </a>
                            <div class="chrislim63-f967499c-cf57-4038-be5e-1a1d8f2365fa-GEfWat font-class-1">
                                CHRISLIM63
                            </div>
                        </div>
                        <div class="log-out-1a877984-7413-4077-83be-912d32725b02-IMNLdu font-class-1">
                            LOG OUT
                        </div>
                    </div>
                </div>
                <div class="your-application-will-be-undergoing-review-by-our-credit-department-f06ae513-6ca6-4b86-a07d-d853de144d06-Np7xpy font-class-1">
                    Your application will be undergoing review by our Credit Department.
                </div>
                <div class="group-106-bcc10b7c-d821-4f47-a5bb-52ad9338ad32-AKY3c3 anima-flexbox-container">
                    <div class="overlap-group-OyVr0G">
                        <div class="estimated-loan-amount-35b49eab-7fb9-48c4-a4d1-ff5884a2b373-3WJAWP font-class-1">
                            Estimated Loan Amount:
                        </div>
                        <div class="likelihood-of-approval-2b02cf85-31b8-4574-9c47-753d8eff3b2e-wEl0eW font-class-1">
                            Likelihood of Approval:
                        </div>
                        <img anima-src="{%static '/img/rectangle-105-8@1x.png' %}" class="rectangle-105-848942cc-93b2-4a55-9dbf-5620b3dc1c83-jJoasA" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="estimated-waiting-time-2fab1ca7-29c6-45c8-b5ed-388badf60889-jLOa8Y font-class-1">
                            Estimated Waiting Time:
                        </div>
                        <div class="sgd-34000-01d517b7-d317-444b-931a-09a423f3e74c-LnFhX6 font-class-1">
                            SGD 34,000
                        </div>
                        <div class="a92-1ef20f66-7c2c-4e0a-bd83-d74134ed7fc5-BExs6g font-class-1">
                            92%
                        </div>
                        <div class="a3-5-working-days-1dd24bee-b0e8-42bc-867f-4ea357d11910-rzyxPe font-class-1">
                            3-5 working days
                        </div>
                    </div>
                    <div class="auto-flex3-oxA9X0 anima-flexbox-container">
                        <a href="dashboard.html">
                            <div class="group-87-b7010237-ebac-43d7-ab15-9b92130d3864-7NAWO4">
                                <img anima-src="{%static '/img/rectangle-105-10@1x.png' %}" class="rectangle-105-63ac0f74-c884-40fa-bd2b-e9be4cec105f-XLHTGz" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="return-to-dashboard-82546bbc-86aa-40b2-ab16-f2cf8cd5ec5a-QGEVGp font-class-1">
                                    Return to Dashboard
                                </div>
                            </div>
                        </a>
                        <a href="loanstatus.html">
                            <div class="group-82-e329f9c5-26be-49e4-be63-fb2cd84cac8f-uUkW8z">
                                <img anima-src="{%static '/img/rectangle-105-9@1x.png' %}" class="rectangle-105-be46a976-d10e-4da9-8a3a-bb9d3db27787-njwi7s" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="check-loan-status-4c6318c5-2feb-4fb9-97c3-0cf98c1f47b9-ZVRIjP font-class-1">
                                    Check Loan Status
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
