<!DOCTYPE html>
<html>
    <head>
        {% load static %}<link href="{%static '/img/favicon.png' %}" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
        <link href="{%static '/css/loanstatus.css'%}" rel="stylesheet" type="text/css"/>
        <meta content="AnimaApp.com - Design to code, Automated." name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="loanstatus"/>
        <div class="anima-container-center-horizontal">
            <div class="loanstatus anima-screen ">
                <div class="group-10-1d367f85-d4e2-460a-ac18-a154dc4ace72-xLMssp anima-flexbox-container">
                    <div class="discover-6e05ad9e-aacf-47f2-81e8-41a214cae3ee-bPeF3v font-class-1">
                        Discover
                    </div>
                    <div class="services-7573a29e-f929-4c86-9e8a-4fe4f9f209fd-KCpTHO font-class-1">
                        Services
                    </div>
                    <div class="apply-b3a5feaa-7a73-428a-a82c-0c5771c0962a-SBbJHe font-class-1">
                        Apply
                    </div>
                    <div class="contact-6b8dcd69-644e-4cdf-ba8d-647068e657b9-jU0PS6 font-class-1">
                        Contact
                    </div>
                </div>
                <img anima-src="{%static '/img/razer-logo-18@1x.png' %}" class="razer-logo-d089705e-2c2f-42b9-9bbe-31014782dfb7-AExRF6" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <a href="myaccount.html">
                    <div class="group-100-6e899c44-2d34-4d56-ad90-a19d00ed64f1-YAIhnA anima-flexbox-container">
                        <div class="auto-flex-9KUpiT anima-flexbox-container">
                            <img anima-src="{%static '/img/ellipse-17-10@1x.png' %}" class="ellipse-17-e73c048e-dc18-4596-aad5-de390774aaed-fKY0Sq" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="chrislim63-65e2993d-1734-4433-a9d7-1cb0e5735249-l2RqaU font-class-1">
                                CHRISLIM63
                            </div>
                        </div>
                        <div class="log-out-2058a9ba-f27c-42d9-a3ba-05b28195e88e-JTIm8M font-class-1">
                            LOG OUT
                        </div>
                    </div>
                </a>
                <img anima-src="{%static '/img/rectangle-43-9@1x.png' %}" class="rectangle-608-1484cb93-3125-4c0d-a01c-5927004e049b-2KeblM" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="group-105-019343eb-4a01-41a4-951d-440208d287bc-UakunP anima-flexbox-container">
                    <div class="auto-flex1-XgXCtm anima-flexbox-container">
                        <div class="group-86-f168f82e-1f24-4a22-9b11-42f09980b9d8-5kZW29 anima-smart-layers-pointers ">
                            <div class="down-icon-a1674617-294e-42f9-9bf7-72e444743c44-xVjoKj anima-flexbox-container">
                                <img anima-src="{%static '/img/bx-chevron-down-17@1x.png' %}" class="bx-chevron-down-1ac4467d-b306-41ad-9fda-a5f1d0ea410a-H1FJQQ anima-flexbox-container" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <a href="dashboard.html">
                            <div class="return-to-dashboard-1853442a-1897-42f1-b810-22276216c1bb-S7Dxiv font-class-1">
                                Return to Dashboard
                            </div>
                        </a>
                    </div>
                    <div class="overlap-group-Uaxejn">
                        <div class="application-id-303b8416-8c22-48f3-85e3-b841fb32577b-WB8ly3 font-class-1">
                            Application ID
                        </div>
                        <div class="date-of-application-8ed026d3-44df-41cb-986f-ec74c8bcdffd-qKGh3L font-class-1">
                            Date of Application
                        </div>
                        <div class="type-of-loan-1c5453fc-57ab-4a59-8448-d6a011b6f4b0-jW9mkG font-class-1">
                            Type of Loan
                        </div>
                        <div class="status-1e7f18e0-cedb-4ef9-b0a6-d17e24171f01-vektRo font-class-1">
                            Status
                        </div>
                        <div class="a2551441291-d2873cf5-9010-4171-9d66-8026ba7098b3-zSgSm8 font-class-1">
                            2551441291
                        </div>
                        <img anima-src="{%static '/img/rectangle-112@1x.png' %}" class="rectangle-112-5be9fd19-139e-4e99-9eb1-a4c603d3a409-5cvnFK" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="a04-may-2020-a90098e7-5855-44d4-b035-1475994ab9ef-QrkxCj font-class-1">
                            04 MAY 2020
                        </div>
                        <div class="student-loan-ac9cfc16-57ca-42e5-ae02-5048269c4aaa-h9fLJ4 font-class-1">
                            STUDENT LOAN
                        </div>
                        <a href="loanapproved.html">
                            <div class="pending-8b4dfa20-8c94-4515-9d64-e1075a444702-r2VsxT font-class-1">
                                PENDING
                            </div>
                        </a>
                    </div>
                </div>
                <div class="loans-ec27b429-03b4-4616-8f8d-40223e242192-5zJVY7 font-class-1">
                    LOANS
                </div>
                <img anima-src="{%static '/img/line-10-1@1x.png' %}" class="line-11-8250ef57-3274-4bd3-9e47-05045d43f92f-IFChXZ" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
