<!DOCTYPE html>
<html>
    <head>
        {% load static %}<link href="{%static '/img/favicon.png' %}" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
        <link href="{%static '/css/loanapproved.css'%}" rel="stylesheet" type="text/css"/>
        <meta content="AnimaApp.com - Design to code, Automated." name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="loanapproved"/>
        <div class="anima-container-center-horizontal">
            <div class="loanapproved anima-screen ">
                <div class="group-10-df1313f4-37dc-45ea-901a-38f78ff489d3-Mmj5JE anima-flexbox-container">
                    <div class="discover-70bbd2c6-78d5-4cc0-9068-6df1429ae0b5-0dRXpG font-class-1">
                        Discover
                    </div>
                    <div class="services-5c66239a-9327-493d-80a2-3bc586ee91fe-uslKuz font-class-1">
                        Services
                    </div>
                    <div class="apply-9661747b-c926-4c0e-bc8a-0d23ae299913-fkIItp font-class-1">
                        Apply
                    </div>
                    <div class="contact-a3e5c9d2-4975-4481-9f36-840fba6d2f34-Yf6MVf font-class-1">
                        Contact
                    </div>
                </div>
                <img anima-src="{%static '/img/razer-logo-10@1x.png' %}" class="razer-logo-e159e523-d7ea-4fc1-acd5-f76e945cc8c5-Ctaigi" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="group-100-d2124fe0-8e4a-426a-92df-0469fec0f7a5-XpzJ27 anima-flexbox-container">
                    <div class="auto-flex-KttiS9 anima-flexbox-container">
                        <a href="myaccount.html">
                            <img anima-src="{%static '/img/ellipse-17-10@1x.png' %}" class="ellipse-17-e27ee703-31ca-41da-a419-78bf92c0194e-xB9iQL" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </a>
                        <div class="chrislim63-e607861e-e906-49db-a55b-e03696bc1ff8-c3xHmE font-class-1">
                            CHRISLIM63
                        </div>
                    </div>
                    <div class="log-out-fdbe8ed4-4263-4ac6-b656-a36305b2b89f-rCqVkE font-class-1">
                        LOG OUT
                    </div>
                </div>
                <img anima-src="{%static '/img/rectangle-43-9@1x.png' %}" class="rectangle-43-125d0984-6757-4db6-9608-624a7e13ebd4-YxEiF5" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="group-98-53f96813-7635-47a5-80d6-fbeebb224dc6-jQoknW anima-flexbox-container">
                    <div class="auto-flex1-WWT2k0 anima-flexbox-container">
                        <div class="group-86-f44c9013-4ab8-4e39-9517-dfc74e81b0fa-oX6I3o anima-smart-layers-pointers ">
                            <div class="down-icon-d8f00923-67b7-4ccd-aada-b71d88bc7be6-QB4F8w anima-flexbox-container">
                                <img anima-src="{%static '/img/bx-chevron-down-17@1x.png' %}" class="bx-chevron-down-0c26b311-bb1f-48e6-9c1e-1b8fe2750529-K6Jam0 anima-flexbox-container" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <a href="dashboard.html">
                            <div class="return-to-dashboard-5f8f4de0-5b9c-469e-b9ca-80fd1b65d602-SH7hMc font-class-1">
                                Return to Dashboard
                            </div>
                        </a>
                    </div>
                    <div class="overlap-group-HuuI6F">
                        <div class="application-id-5eb8f88a-4d5d-412c-86ea-3a4215f31645-0TVDuH font-class-1">
                            Application ID
                        </div>
                        <div class="date-of-application-4bffaab5-49db-4fe9-b9df-2144c88c096c-aHthjx font-class-1">
                            Date of Application
                        </div>
                        <div class="type-of-loan-fb1139cf-06d6-4529-8b55-9888c8e03d10-j2BFiY font-class-1">
                            Type of Loan
                        </div>
                        <div class="status-a9b0de79-423b-4eb7-ad2a-9b7929feff9a-gHx9eN font-class-1">
                            Status
                        </div>
                        <div class="a2551441291-6d8a2fa6-a5cc-430e-9fb7-2821d2b328d7-o2ju6h font-class-1">
                            2551441291
                        </div>
                        <img anima-src="./img/rectangle-112-1@1x.png' %}" class="rectangle-112-520fc646-c291-4fcf-b51c-309a4aeda3cd-QLQqBE" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="a04-may-2020-c8b7d929-d879-40c5-a090-1a41074e8a65-5jofcm font-class-1">
                            04 MAY 2020
                        </div>
                        <div class="student-loan-53130709-ce6b-4db1-84e9-c55f17a38bed-4YA2lE font-class-1">
                            STUDENT LOAN
                        </div>
                        <div class="approved-c8b3e874-ea21-42f3-aa26-1c7e52a56e7a-cmD1Wi font-class-1">
                            APPROVED
                        </div>
                        <div class="loan-will-be-disbursed-after-the-documents-below-are-signed-d35db91c-0737-4fb5-b515-5d67b93e9c91-1ZBTHe font-class-1">
                            Loan will be disbursed after the <br />documents below are signed:
                        </div>
                    </div>
                </div>
                <div class="loans-9be77e52-7b2b-4650-95aa-97b71f96f18e-OlTXQ6 font-class-1">
                    LOANS
                </div>
                <img anima-src="{%static '/img/line-10-1@1x.png' %}" class="line-10-41dd19c4-226e-4a82-9801-12caf0829066-RLjmUP" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="letter-of-offer-0153ca44-1376-46ce-8f93-446f911d03f3-gvG73z font-class-1">
                    Letter of Offer
                </div>
                <div class="terms-and-conditions-3327ef03-baa5-4e6e-8a11-1fc4c6363cf4-uifvC2 font-class-1">
                    Terms and Conditions
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
