<!DOCTYPE html>
<html>
    <head>
        {% load static %}<link href="{%static '/img/favicon.png' %}" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
        <link href="{%static '/css/loanappcomplete.css'%}" rel="stylesheet" type="text/css"/>
        <meta content="AnimaApp.com - Design to code, Automated." name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="loanappcomplete"/>
        <div class="anima-container-center-horizontal">
            <div class="loanappcomplete anima-screen ">
                <div class="group-10-0dec8940-dffb-4bdc-9e46-750993a3033a-LZeZr3 anima-flexbox-container">
                    <div class="discover-6e96c995-7158-4cd7-a366-1de87316b9c3-ejN8at font-class-1">
                        Discover
                    </div>
                    <div class="services-8cc37737-f67c-41cb-8ec4-325c2fb9caa4-Hwi0kn font-class-1">
                        Services
                    </div>
                    <div class="apply-eda9a679-82c9-4769-a89b-01768a2570f5-aNy2dj font-class-1">
                        Apply
                    </div>
                    <div class="contact-d704a163-5c28-47af-b1d9-df8c02f065be-Jlrxou font-class-1">
                        Contact
                    </div>
                </div>
                <img anima-src="{%static '/img/razer-logo-10@1x.png' %}" class="razer-logo-5fbac4b6-2b62-4875-b163-cacdaca9a8db-Q6Ub0F" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="group-94-5589bae8-16ff-42d5-b703-f8ad492a7cc5-FENj60">
                    <img anima-src="{%static '/img/path-92-3@1x.png' %}" class="path-92-44c6ebb5-4a8d-437f-9ffb-5e0476842281-E2OZ7y" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="down-icon-ce355c96-ec3b-4f31-94d4-62ea3a69671f-xtMmke">
                        <img anima-src="{%static '/img/bx-chevron-down-11@1x.png' %}" class="bx-chevron-down-c03ec4c3-07c2-4668-89c9-0f650a23cb5b-xR6Dd0 anima-flexbox-container" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="rectangle-37-8e91e056-50b5-461c-a359-89c41789eda6-Xzg3NW">
                        </div>
                    </div>
                    <img anima-src="{%static '/img/rectangle-43-7@1x.png' %}" class="rectangle-43-08f89a59-a0cb-454e-9df3-219d5a98eb47-p2PGej" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="student-loan-application-form-251951b1-c2a1-4000-993f-d2c0c0be3f85-z55SeF font-class-1">
                        STUDENT Loan Application Form
                    </div>
                    <div class="a1-personal-details-4a02133b-9d61-4248-b4cd-3f62fcde4c2b-SUVbgf font-class-1">
                        1. Personal Details
                    </div>
                    <div class="a2-supporting-documents-77a53196-6393-4fff-80d1-b16d2860fd6e-EdLnIv font-class-1">
                        2. Supporting Documents
                    </div>
                    <img anima-src="{%static '/img/path-991-1@1x.png' %}" class="path-991-09523e83-e6d5-4e28-92ff-36f47ea16698-ZaAjU5" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="document-name-98d12b1c-431d-4610-b021-379f9ee83b81-x3cwFM font-class-1">
                        Document Name
                    </div>
                    <div class="guarantor-letter-d0a37f7d-74d6-4275-b1cd-995d143ee263-jhB55x font-class-1">
                        Guarantor Letter
                    </div>
                    <div class="university-admission-letter-69b29dba-4038-4ece-9b23-11312203448f-KLg6yL font-class-1">
                        University Admission Letter
                    </div>
                    <div class="proof-of-residence-cfc36c7e-9a20-4fe4-804c-cc8370a7f7e0-CcCLQB font-class-1">
                        Proof of Residence
                    </div>
                    <div class="provide-the-latest-copy-within-last-3-months-of-any-of-the-items-below-aa159818-0007-48bd-b79a-2edeb2e82bad-Bf6D9t font-class-1">
                        Provide the latest copy (within last 3 months) of any of the items below:
                    </div>
                    <div class="group-86-fc793ef3-981f-43ed-8ecd-6fa61aae45a5-yBtp0D anima-flexbox-container">
                        <div class="down-icon-b1a66ac3-e1f3-4c87-9eef-0d93fc216158-cF0PFK">
                            <img anima-src="{%static '/img/bx-chevron-down-16@1x.png' %}" class="bx-chevron-down-bd1a37d9-182c-43df-8eef-d8ddd7b4d11e-PyxGyx" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="rectangle-37-4befcd8f-4404-4362-8205-1beb38618d94-CvY9kC">
                            </div>
                        </div>
                    </div>
                    <div class="upload-document-48c54017-bb7a-4fd7-b44d-8a01072ddb0e-J2o4u2 font-class-1">
                        Upload Document
                    </div>
                    <a href="loansubmit">
                        <div class="group-12-c1d018e5-6f31-454f-b22d-4982c77f1325-iRmZwz anima-flexbox-container">
                            <div class="group-85-8e3d1cc5-3f2c-4979-b1ed-1b75d5271b60-v0ui5c">
                                <img anima-src="{%static '/img/path-13-5@1x.png' %}" class="path-13-8222bb0c-e1e6-4c6b-a0fe-a8776ef4dbf2-ps4T9h" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="submit-application-d27c55c9-f068-4ff1-93be-40cc1fa1d1eb-fe5RCN font-class-1">
                                    Submit Application
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="group-84-624bf89f-fd21-4b52-a398-e325d6e0dd4b-ebjrRv anima-flexbox-container">
                        <div class="auto-flex2-2b52PM anima-flexbox-container">
                            <div class="auto-flex-mLMLP7 anima-flexbox-container">
                                <div class="text-field-outlined-unfilled-enabled-d3cff91f-94f7-4789-a28b-31a5064f6694-B0dA2S">
                                    <div class="surface-4d139144-4c79-495b-96aa-5012a261446c-anrNih">
                                    </div>
                                    <div class="chris-lim-x-y-844cce9c-7868-4ae0-9e70-54423fc7246a-4z91KW font-class-2">
                                        CHRIS LIM X Y
                                    </div>
                                    <div class="icon-visibility-filled-2e51a3f9-0bd3-4564-9433-a890727c30c0-eVTvsu">
                                    </div>
                                </div>
                                <div class="text-field-outlined-unfilled-enabled-a6af8d03-e5a0-43a4-93fe-9a999a098739-YWxebX">
                                    <div class="surface-e8d1a2df-2284-46ba-ae77-f0af7976ba44-8N99RY">
                                    </div>
                                    <div class="a12-12-1983-1f9f69d9-f025-48ff-b7f6-bf7bf34fad2d-fLtMvq font-class-2">
                                        12/12/1983
                                    </div>
                                </div>
                            </div>
                            <div class="auto-flex1-gGAXlu anima-flexbox-container">
                                <div class="text-field-outlined-unfilled-enabled-edc365c0-656e-4433-9b42-2de62b29b0bd-eswdO2">
                                    <div class="surface-3e5f8ef9-820d-4cac-94b4-64c7086e4c93-dfSd2M">
                                    </div>
                                    <div class="s1234567-a-6aa5786c-cfb9-4045-8f0c-dcb793bb0093-ha6F4a font-class-2">
                                        S1234567A
                                    </div>
                                </div>
                                <div class="text-field-outlined-unfilled-enabled-069fb7a6-d072-40b3-9fc5-a718c2f2e6b0-x5x8bV">
                                    <div class="surface-d92de627-ae44-412a-8812-ce7697cb2cd3-xe8cR9">
                                    </div>
                                    <div class="singaporean-citizen-5fe57360-0dac-428b-b65d-f3057f7a2b1f-y6wNrt font-class-2">
                                        SINGAPOREAN CITIZEN
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="overlap-group-fEgxWl">
                            <div class="text-field-outlined-unfilled-enabled-844f9b24-053d-45a5-a166-1dff8be1040c-OYkPQn anima-flexbox-container">
                                <div class="overlap-group1-UGnaGz">
                                    <div class="surface-b98b5446-27d7-4382-9391-1f135ec48f43-pQaOQd">
                                    </div>
                                    <div class="a123-bukit-batok-avenue-5-blk-123-12-34-s123456-886c946e-a027-43c9-9aa6-acca91d2380f-GLuXqI font-class-2">
                                        123 BUKIT BATOK AVENUE 5, BLK 123, #12-34, S123456
                                    </div>
                                </div>
                                <div class="pdpa-d576a6ee-3912-41ba-9eaf-775be0114dbc-diwna8 font-class-3">
                                    PDPA
                                </div>
                            </div>
                            <div class="text-field-outlined-unfilled-enabled-40d4431a-4c72-43b8-8e5e-ad08c643d996-J33YFV anima-flexbox-container">
                                <div class="overlap-group2-czQtHn">
                                    <div class="surface-a762c596-b537-444b-ab80-2d758ebf19f2-zikwbW">
                                    </div>
                                    <div class="a123-bukit-batok-avenue-5-blk-123-12-34-s123456-eeb67489-024a-47ea-b669-315c212eb119-7BH9n9 font-class-2">
                                        123 BUKIT BATOK AVENUE 5, BLK 123, #12-34, S123456
                                    </div>
                                </div>
                                <div class="auto-flex-MSu3BI anima-flexbox-container">
                                    <div class="pdpa-e9dba79a-835c-45b9-8f01-4c89188bb77b-I0EHLZ font-class-3">
                                        PDPA
                                    </div>
                                    <div class="privacy-agreement-61c83077-d5dd-4ddf-a1bc-302413e9cbd9-ncgHK3 font-class-3">
                                        PRIVACY AGREEMENT
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <img anima-src="{%static '/img/rectangle-105-13@1x.png' %}" class="rectangle-105-54b01e07-841f-4cb2-bc85-9bf9f591ed5e-pH1Qfx" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="taking-a-student-loan-with-razer-bank-3b9b16a6-71c9-4e83-9495-f3f39063a02e-sxht7E font-class-1">
                    Taking a STUDENT LOAN<br />With Razer Bank
                </div>
                <div class="group-100-84a2fd17-8006-4a48-9489-f727c8059d07-nSPsAR anima-flexbox-container">
                    <div class="auto-flex3-1cPmnw anima-flexbox-container">
                        <a href="myaccount">
                            <img anima-src="{%static '/img/ellipse-17-10@1x.png' %}" class="ellipse-17-21114989-2542-4d31-adbc-d2366c1444ab-B838OA" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </a>
                        <div class="chrislim63-5dfc2faa-5b90-418c-aa39-f44e33011fc6-2RPzwe font-class-1">
                            CHRISLIM63
                        </div>
                    </div>
                    <div class="log-out-815df579-da79-470d-a446-59d4c137215a-YX4R0U font-class-1">
                        LOG OUT
                    </div>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
