<!DOCTYPE html>
<html>
    <head>
        {% load static %}<link href="{%static '/img/favicon.png' %}" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
        <link href="{%static '/css/login.css'%}" rel="stylesheet" type="text/css"/>
        <meta content="AnimaApp.com - Design to code, Automated." name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="login"/>
        <div class="anima-container-center-horizontal">
            <form action="form3" class="login anima-flexbox-container anima-screen " method="post" name="form3">
                <div class="auto-flex-1lKxzb anima-flexbox-container">
                    <a class="align-self-flex-end" href="homepage.html">
                        <img anima-src="{%static '/img/razer-logo-10@1x.png' %}" class="razer-logo-b1863e03-9340-4028-ad18-a1eeb88e8d9e-Aof0cU" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </a>
                    <div class="group-10-56dde30c-afa4-455d-b001-ed42eb2f97dd-B2M7tm anima-flexbox-container">
                        <a href="homepage">
                            <div class="discover-5f42ab4e-8d3c-4b08-9108-173cde4c6443-xCVPX7 font-class-1">
                                Discover
                            </div>
                        </a>
                        <a href="homepage">
                            <div class="services-3ea59e0c-d223-4f2e-8aeb-9de2efe400e1-bCKobi font-class-1">
                                Services
                            </div>
                        </a>
                        <div class="apply-24ad8cca-aa45-4d5a-8b73-efede2abfab3-FyAx0A font-class-1">
                            Apply
                        </div>
                        <div class="contact-3f52d3cf-3b15-4aa4-9efb-5bcab51cf6cf-XMxTJA font-class-1">
                            Contact
                        </div>
                    </div>
                    <div class="group-11-1ec0bbec-96d8-4c5e-a095-d514a8c62689-R0gjQA">
                        <div class="rectangle-39-00db2ee3-fafd-4297-ab80-e1400d704bbc-jCBMcf">
                        </div>
                        <div class="get-started-85a67e12-ab99-46b3-b397-9db10b8e10dc-xtncCM font-class-1">
                            Get Started
                        </div>
                    </div>
                </div>
                <div class="overlap-group-Y7zamN">
                    <img anima-src="{%static '/img/path-89-1@1x.png' %}" class="path-89-008fb445-d94f-416b-b0a5-48370dd72df0-jZu4yW" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="log-in-e8a32186-1bf5-4a6e-a4b6-195d9bbdf6bd-1fwMLt font-class-1">
                        Log In
                    </div>
                    <div class="log-in-to-your-razer-account-to-open-bank-accounts-and-apply-for-loans-with-ease-69106af9-3eac-4f3b-9ce0-f08c3b538e90-UZS1Zj font-class-1">
                        Log in to your Razer account to open bank accounts<br />and apply for loans with ease.
                    </div>
                    <img anima-src="{%static '/img/rectangle-40-1@1x.png' %}" class="rectangle-40-2f53f4d8-f066-497c-813d-0f7d4a81c27c-gegHj8" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <a href="register">
                        <div class="register-b23ec64e-84cd-4483-8431-15e09962a26d-IxPKMS font-class-1 anima-smart-layers-pointers ">
                            REGISTER
                        </div>
                    </a>
                    <div class="log-in-257385eb-4759-42b5-9e0d-b9220124e0d0-XLm8Px font-class-1">
                        LOG IN
                    </div>
                    <img anima-src="{%static '/img/path-990-1@1x.png' %}" class="path-990-886c9fe2-8e70-434e-8490-f6cdaf39e15a-kSPZxR" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <a href="javascript:animaSubmitForm('form3')">
                        <div class="group-84-c05bbb3d-cc90-4fec-8db9-f3b73966072a-I8ie9V anima-flexbox-container">
                            <div class="text-field-outlined-active-d6789988-ba79-4914-b5b6-27816abb56a3-MWi2F8">
                                <a href="javascript:animaSubmitForm('form3')">
                                    <div class="surface-f6acc77a-d5e4-4b64-a63a-944f25a6a1b4-sYTgl3">
                                    </div>
                                </a>
                                <div class="adrian-8cce96a6-82cc-4dae-8b71-a06924583e33-CPLcQT font-class-2">
                                    Adrian
                                </div>
                                <div class="rectangle-597-2f808686-0fed-403d-8110-8dd06d3f80f0-AWjfxj">
                                </div>
                                <div class="username-330a5620-ee6a-4136-89db-8ddf6d479d93-iZeAUM">
                                    Username
                                </div>
                                <div class="input-883c280f-78b0-4476-ae5d-f460bc45f970-z6QyWT">
                                </div>
                            </div>
                            <div class="text-field-outlined-unfilled-enabled-9a088463-b1d1-4472-b2f3-71472b20842d-MQd8zW anima-flexbox-container">
                                <div class="overlap-group1-exNhIy">
                                    <div class="surface-841729aa-7ae1-45df-8ac0-f813a781ab05-aYKK86">
                                    </div>
                                    <div class="password-6c516f88-24af-482c-b30e-c78153f3b005-CYfkVu font-class-2">
                                        Password
                                    </div>
                                    <div class="icon-visibility-filled-819929d9-b685-4738-be7f-30376fe9caf0-JxWGjk">
                                        <img anima-src="{%static '/img/path-988@1x.png' %}" class="path-988-d750d5a8-cc64-48db-85e7-1cb1383e4dc3-KvPYVO" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                        <div class="box-689ca463-cabb-4f6a-bac9-5c2b3cc5363f-ohhpyH">
                                        </div>
                                    </div>
                                </div>
                                <div class="forgot-password-a253c2df-edfb-4ced-ab08-9d8603f77be9-BP1E9i font-class-3">
                                    Forgot Password?
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="verifylogin">
                        <div class="buttons-contained-enabled-e61a6507-0e81-40f6-8e5d-52c91e941f99-ATSFMM anima-smart-layers-pointers ">
                            <img anima-src="{%static '/img/rectangle-377-1@1x.png' %}" class="rectangle-377-941bc65f-43eb-4d3a-bf24-64673d01c030-UujoDs" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="log-in-ff9dfb92-f117-4d60-9e46-675d665285d0-6wrVKJ font-class-5">
                                LOG IN
                            </div>
                        </div>
                    </a>
                </div>
            </form>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <script>
            if (!HTMLFormElement.prototype.reportValidity) {
                HTMLFormElement.prototype.reportValidity = function() {
                    if (this.checkValidity()) return true;
                    var btn = document.createElement('button');
                    this.appendChild(btn);
                    btn.click();
                    this.removeChild(btn);
                    return false;
                };
            }
            function animaSubmitForm(form_name) {
                var form = document.getElementsByName(form_name)[0];
                if (form.reportValidity()) {
                    form.submit();
                    if (window.submitted) window.submitted();
                }
            }
        </script>
        <!-- End of Scripts -->
    </body>
</html>
