<!DOCTYPE html>
<html>
    <head>
        {% load static %}<link href="{%static '/img/favicon.png' %}" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
        <link href="{%static '/css/makepayment.css'%}" rel="stylesheet" type="text/css"/>
        <meta content="AnimaApp.com - Design to code, Automated." name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="makepayment"/>
        <div class="anima-container-center-horizontal">
            <div class="makepayment anima-flexbox-container anima-screen ">
                <div class="auto-flex-1lKxzb anima-flexbox-container">
                    <div class="overlap-group-4tDfkw">
                        <img anima-src="{%static '/img/razer-logo-10@1x.png' %}" class="razer-logo-8fd904be-02ec-452a-99eb-52bf12b9ad35-FBsD02" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="down-icon-21526087-0528-478f-bdbc-87f343870f65-PxeaPW anima-flexbox-container">
                            <img anima-src="{%static '/img/bx-chevron-down-17@1x.png' %}" class="bx-chevron-down-bf60f60d-54d5-4f48-83de-5f00bf592d4b-sAIn6P anima-smart-layers-pointers " src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <a href="dashboard.html">
                            <div class="return-to-dashboard-7fc05fea-763c-49f7-bbee-639eecdb9209-lY5ClL font-class-1">
                                Return to Dashboard
                            </div>
                        </a>
                    </div>
                    <div class="group-10-fe0a5021-0de5-4d1b-b14e-1ac5941764ab-MjgqZd anima-flexbox-container">
                        <div class="discover-d4f8a94c-b3ad-4720-a5cf-f8f554ee8280-uc1ebx font-class-1">
                            Discover
                        </div>
                        <div class="services-24928217-c66e-4042-b37f-2178f4c677e0-3Ze2IW font-class-1">
                            Services
                        </div>
                        <div class="apply-240f732e-c519-4834-9b17-370386971dda-FQxZBB font-class-1">
                            Apply
                        </div>
                        <div class="contact-0c87fb88-140d-41c6-ad13-1874604b52d3-mgHxx6 font-class-1">
                            Contact
                        </div>
                    </div>
                    <div class="group-11-b864d633-7df4-4da6-be7e-cca4597e0ad8-oDIflV anima-flexbox-container">
                        <div class="group-100-9dc538ea-bfd6-41f2-89bf-a96492e80ee9-PqDMuO anima-flexbox-container">
                            <div class="auto-flex1-5vP04h anima-flexbox-container">
                                <a href="myaccount.html">
                                    <img anima-src="{%static '/img/ellipse-17-10@1x.png' %}" class="ellipse-17-bf57a544-04ae-43a2-ac1d-7ceb38fd43fd-fSEWUZ" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </a>
                                <div class="chrislim63-248d6a01-02a9-46b6-a68e-79ab4ba7da1a-FIYM5E font-class-1">
                                    CHRISLIM63
                                </div>
                            </div>
                            <div class="log-out-bf0c18a1-6290-4219-90ab-ac62f26f0918-AlYt9B font-class-1">
                                LOG OUT
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlap-group1-yBpAcz">
                    <div class="group-93-d167941f-fd47-48f6-8498-2fdcda663477-ztcxF6">
                        <img anima-src="{%static '/img/rectangle-43-3@1x.png' %}" class="rectangle-43-3e0fc776-b8b2-400a-8c3c-0d225195efc8-1vyZpZ" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="{%static '/img/path-92-1@1x.png' %}" class="path-92-7353b1d6-ee50-447f-8bca-76754a65e39b-j0QzGX" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="{%static '/img/rectangle-105-1@1x.png' %}" class="rectangle-105-9765f395-1843-4308-b435-f08786660f9a-3I0zFN" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="payment-for-xxxxxxxxxxxx2347-bf01f996-17e9-4dd0-8f83-2a92988b768a-0uEOAM font-class-1">
                            Payment for xxxxxxxxxxxx2347:
                        </div>
                        <div class="make-payment-2817b23c-c9eb-41ff-8019-2ae9e0a084a6-xxLNP0 font-class-1">
                            Make Payment
                        </div>
                        <div class="group-12-3b7feaac-6ace-44a0-8eab-1709646c36fc-0Uaifl anima-flexbox-container">
                            <div class="group-85-dca2ffd0-323f-4019-aa6d-d3fd842ac2b7-6t2smS">
                                <img anima-src="{%static '/img/path-13-3@1x.png' %}" class="path-13-2a86bb40-0f1b-48d9-a124-eb5562074ad7-65u62S" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="make-payment-now-d4f980ea-4d89-4a89-87db-0fac080a6593-D4hpEd font-class-1">
                                    Make Payment Now
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-field-outlined-unfilled-enabled-79fba003-dcc2-4412-8774-dc4fa69e44ab-hd4wVt">
                        <div class="surface-02c21517-e668-456a-91ef-06cefdd66b43-bGdTj9">
                        </div>
                        <div class="xxxxxxxxxxxx2347-f18f24f1-17e0-4689-8b32-81206aa2bbbc-yi1VfH font-class-1">
                            xxxxxxxxxxxx2347
                        </div>
                    </div>
                    <div class="down-icon-84f6caa5-563e-44f5-985f-3dc24d2ae2bc-MxDdxL">
                        <img anima-src="{%static '/img/bx-chevron-down-3@1x.png' %}" class="bx-chevron-down-2c98f1d5-ea48-42be-9466-46831bc39656-xs9WSj anima-flexbox-container" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="rectangle-37-87940ce5-98c5-4d5b-a4c7-9a96e44cfa06-4xwEhn">
                        </div>
                    </div>
                    <div class="minimum-to-pay-amount-used-billed-0f1d9f16-e865-44f3-b9bb-ad660a3ba930-lTKx0y font-class-1">
                        Minimum To Pay:<br />Amount Used billed:<br />
                    </div>
                    <div class="sgd-50-e8411452-f756-480f-98df-c3912ecf15e1-ZIyPgP font-class-1">
                        SGD 50
                    </div>
                    <div class="sgd-2500-00-dc568708-0db0-4d7f-8537-ba0df3da287d-a9mudt font-class-1">
                        SGD 2,500.00
                    </div>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
