<!DOCTYPE html>
<html>
    <head>
        {% load static %}<link href="{%static '/img/favicon.png' %}" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
        <link href="{%static '/css/myaccount.css'%}" rel="stylesheet" type="text/css"/>
        <meta content="AnimaApp.com - Design to code, Automated." name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="myaccount"/>
        <div class="anima-container-center-horizontal">
            <div class="myaccount anima-screen ">
                <div class="group-10-d59d9ba0-5cf3-4caf-a6b8-29e3c5fff1e2-xIlLdr anima-flexbox-container">
                    <div class="discover-0a0f3517-4d0b-4db4-961e-f535da0fa5f0-3TnFwx font-class-1">
                        Discover
                    </div>
                    <div class="services-5a1524fb-3f62-4b54-b875-cf8fbce6bb10-UlS7Ao font-class-1">
                        Services
                    </div>
                    <div class="apply-f68cda5c-baf2-438b-ab1b-0f66560f76da-2ayku8 font-class-1">
                        Apply
                    </div>
                    <div class="contact-f5e41c18-e249-413c-980f-c04acfe0df44-Wn2u2D font-class-1">
                        Contact
                    </div>
                </div>
                <img anima-src="{%static '/img/razer-logo-10@1x.png' %}" class="razer-logo-51d1bb3d-09c7-461c-b4b4-273c6333f5f6-cr4isk" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="group-92-8fdf42c4-5cca-403d-8432-e122cdbb0a28-34YiVs anima-flexbox-container">
                    <div class="auto-flex2-pxpHEW anima-flexbox-container">
                        <a class="align-self-flex-start" href="dashboard">
                            <div class="group-86-524b07a0-686a-4228-aae0-0955535bb0d4-ys1m4d anima-smart-layers-pointers ">
                                <div class="down-icon-975a37ec-4e6a-474c-8340-f972907ed68c-PGqJWW anima-flexbox-container">
                                    <img anima-src="{%static '/img/bx-chevron-down-17@1x.png' %}" class="bx-chevron-down-f748117f-9c27-45be-a110-1140dedd85f4-2fJvxM anima-flexbox-container" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                        </a>
                        <div class="auto-flex-hxJhfv anima-flexbox-container">
                            <a href="dashboard">
                                <div class="return-to-dashboard-74d8f210-8a0b-4a68-9bb3-513213d5798b-isgItT font-class-1">
                                    Return to Dashboard
                                </div>
                            </a>
                            <div class="overlap-group1-MYaGGM">
                                <div class="chirislim63-56bd08ab-d070-47e2-8c61-f21709e522b6-jTKyT1 font-class-1">
                                    CHIRISLIM63
                                </div>
                                <img anima-src="{%static '/img/line-4-1@1x.png' %}" class="line-4-4dd4aa7d-de98-4a4f-acc6-f60a265d2524-ri3MmK" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="auto-flex1-VJ7BjN anima-flexbox-container">
                            <div class="credit-score-0f395eee-de22-4f85-92ba-09961781ccab-ykFPy5 font-class-1">
                                Credit Score
                            </div>
                            <div class="overlap-group2-V8WOtB">
                                <img anima-src="{%static '/img/rectangle-598@1x.png' %}" class="rectangle-598-34ee60e6-ec03-4b23-86b5-278421b63ab4-C5SFxp" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static '/img/line-5@1x.png' %}" class="line-5-a3a7fda6-e2fc-407e-9177-c2f2035cddc9-6OuNeM" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static '/img/line-5@1x.png' %}" class="path-992-66eff6a1-1079-4e6e-8198-33b8685353f6-mV0AAT" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static '/img/line-5@1x.png' %}" class="line-7-f1d11181-ed14-4885-85fa-0bd5f729f50a-2rxPdJ" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{%static '/img/line-5@1x.png' %}" class="line-8-328256e0-095b-4216-9d30-3cbcfcbfdab7-x7Gubu" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="down-icon-246e247c-0084-413b-8de7-7bd8f2638a28-U8XdSH">
                                <img anima-src="{%static '/img/bx-chevron-down-1@1x.png' %}" class="bx-chevron-down-15b00a5f-8fce-4ec6-a06b-daf43754acc5-jnxs4p anima-flexbox-container" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="rectangle-37-ed0516db-236b-499a-8c51-3770ff4c1e5c-oj1Pcx">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="overlap-group-ZQYfmC">
                        <div class="member-since-may-2020-249855dd-1059-4b35-8fc2-d00494628e60-MIJ0bs font-class-1">
                            Member Since May 2020
                        </div>
                        <img anima-src="{%static '/img/rectangle-43-1@1x.png' %}" class="rectangle-43-162550ae-be09-4423-b7fb-f1b01e1ee1d4-TKxzmi" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="grade-bb-01ac29a3-ba6c-4a4e-84fc-09b7c5d58d4b-4IpWf3 font-class-1">
                            Grade BB
                        </div>
                        <div class="accounts-653d8b23-cddc-40af-a3cd-3647e0f4d356-zWvQhy font-class-1">
                            ACCOUNTS
                        </div>
                        <div class="account-name-2381fe9e-33c4-4082-a0d1-0c3957678ef3-3r0M3u font-class-1">
                            Account Name
                        </div>
                        <div class="loans-ed0d1c99-7ce2-4b49-9825-e25cc06a2501-mmFy8O font-class-1">
                            LOANS
                        </div>
                        <div class="details-63980884-b44b-4884-ba86-a789ab282160-xg7hB2 font-class-1">
                            Details
                        </div>
                        <div class="amount-eea237ab-f657-4a4a-af68-4435c8a66033-Xv8IYL font-class-1">
                            Amount
                        </div>
                        <div class="a123-231424-4-30718700-5d69-41c0-b5df-5669dccd97d5-vcWhgB font-class-1">
                            123-231424-4
                        </div>
                        <div class="current-account-3b74eae1-aebb-46cd-ba8e-440d9e8ca3b3-r7P5KL font-class-1">
                            Current Account
                        </div>
                        <div class="current-balance-1ad63f89-5b90-463f-828c-c11dc8658df4-Ep1FkV font-class-1">
                            Current Balance:<br />
                        </div>
                        <div class="sgd-23430-20-afd6c3d4-0830-45ff-8d9e-c8cc2fe56f9e-WJZsIK font-class-1">
                            SGD 23,430.20<br />
                        </div>
                        <img anima-src="{%static '/img/line-10-1@1x.png' %}" class="line-9-23f1aad8-c713-44a5-8e11-78dce80db510-YUxpxX" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="{%static '/img/line-10-1@1x.png' %}" class="line-10-631a9448-6ad1-4b99-b626-427bef88b860-hHnMAI" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="xxxxxxxxxxxx2347-26eddb7a-83c8-4ff5-8da0-c2c68f87b0f0-BqEwf6 font-class-1">
                            xxxxxxxxxxxx2347
                        </div>
                        <div class="credit-card-07884bcb-6ddb-476f-b2b9-96ec6bfa065b-xExNWa font-class-1">
                            Credit Card
                        </div>
                        <div class="minimum-to-pay-amount-used-billed-amount-used-unbilled-7f97be65-76ed-4420-9fc7-5e73eea5013b-MS4RO8 font-class-1">
                            Minimum To Pay:<br />Amount Used billed:<br />Amount Used Unbilled:
                        </div>
                        <div class="buttons-contained-enabled-81cadb7e-7bf6-47cb-818c-269fd7188a99-4hCF4P anima-flexbox-container">
                            <div class="group-89-5f595051-e8ce-42e2-828f-a1fbd00c583f-PGnSxW">
                                <img anima-src="{%static '/img/rectangle-377-2@1x.png' %}" class="rectangle-377-d44ced3e-7627-4ca4-bf0a-89235459257b-GJGqTr" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="credit-statements-06e4f658-abd3-45b4-b5a2-820bf174b018-uKwDrD font-class-6">
                                    CREDIT STATEMENTS
                                </div>
                            </div>
                        </div>
                        <img anima-src="{%static '/img/path-993@1x.png' %}" class="path-993-a565e7d9-61fe-4180-96cc-c370df8fdb84-nKnUNo" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="{%static '/img/path-994@1x.png' %}" class="path-994-3663f7f1-4dde-4cae-ad7a-e98b908566de-qDOEy7" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="loan-id-4631ca50-a157-4590-823c-217e9516af78-dezuUx font-class-1">
                            Loan ID
                        </div>
                        <div class="loan-type-fd35b830-a2e9-422c-92f4-84f7e656fb83-uxWpvp font-class-1">
                            Loan Type
                        </div>
                        <div class="status-150b9d94-6193-422b-b97f-0c3d476ee167-Cs47Ez font-class-1">
                            Status
                        </div>
                        <div class="a2551441291-72c12c52-a88f-45ef-a14c-06124af96b24-zg2wIk font-class-1">
                            2551441291
                        </div>
                        <div class="student-loan-ec5007f9-d00d-4639-8366-0f1a3f66a507-orsx6x font-class-1">
                            STUDENT Loan
                        </div>
                        <div class="disbursed-189c3b33-54ba-4ac8-b3f1-322d0a78776b-bXxHuU font-class-1">
                            Disbursed
                        </div>
                        <img anima-src="{%static '/img/path-993@1x.png' %}" class="path-995-f47022bf-9d01-487f-8822-b75418da5001-tKjW0a" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="loan-details-f624799d-387f-4b52-8587-75a8294d6001-k45KMW font-class-1">
                            Loan Details
                        </div>
                        <div class="what-does-this-mean-0d16618a-24e0-4334-b4bf-964d6e8670b5-QaXLPr font-class-1">
                            What does this mean?
                        </div>
                        <div class="sgd-50-91f68384-0dc8-4228-92d2-90914a54bea6-WgCPwg font-class-1">
                            SGD 50
                        </div>
                        <div class="sgd-2500-00-3ec02e0a-43b4-4236-ba3b-6a012e6c69ab-DrR8Mk font-class-1">
                            SGD 2,500.00
                        </div>
                        <div class="bill-date-20-apr-2020-9f91e8fb-8a4a-46ba-9891-53aaab35d6ad-NhFoyZ font-class-1">
                            Bill Date: 20-Apr-2020
                        </div>
                        <div class="payment-due-date-14-may-2020-b120bad3-c9ff-47c9-ae0f-1273b29b2816-gIeW0P font-class-1">
                            Payment Due Date: 14-May-2020
                        </div>
                        <div class="credit-limit-fa7c5599-4da8-41a4-a5f0-ef2b0438dd44-N3Xu2m font-class-1">
                            Credit Limit:
                        </div>
                        <div class="sgd-25000-00-983d219d-f0c0-40b5-9286-775ea6cae689-QkUVIB font-class-1">
                            SGD 25,000.00
                        </div>
                        <div class="sgd-22000-00-71d161dd-fbbf-4221-ade1-5b1865b268b1-lGh65i font-class-1">
                            SGD 22,000.00
                        </div>
                        <div class="available-192e34c6-b240-4a50-8ea6-2f25ff045930-Q6DDCf font-class-1">
                            Available:
                        </div>
                        <div class="sgd-500-00-b2ec0339-ddf1-4d5c-b1f6-09021a5bd1bd-TZmtdV font-class-1">
                            SGD 500.00
                        </div>
                        <a href="makepayment">
                            <div class="buttons-contained-enabled-292292f3-00cd-47fe-99b2-74f7961f113c-pPG76T anima-flexbox-container">
                                <div class="group-89-59f961c3-ead7-4a70-8ba9-c2b04101638a-uUITLk">
                                    <img anima-src="{%static '/img/rectangle-377-3@1x.png' %}" class="rectangle-377-fade9e98-3e54-447f-bbc9-aa896413d396-PyAnQy" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <div class="pay-f6628c5f-bb56-45e7-9e27-33b833f574c3-s4vVIy font-class-6">
                                        PAY
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="makepayment">
                            <div class="buttons-contained-enabled-628b4d20-f076-454b-97f1-72bb9d4392c6-TmUxjf anima-flexbox-container">
                                <div class="group-89-20783dd0-288f-431c-928b-a875cf03fe9f-5fxnvA">
                                    <img anima-src="{%static '/img/rectangle-377-3@1x.png' %}" class="rectangle-377-67128edb-28d9-40ed-a86d-c3a3c1907e2e-FkbxBR" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <div class="pay-235844ea-3a8f-4512-8860-e2c9e6c15ce9-JTUisJ font-class-6">
                                        PAY
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="group-100-2064d8c8-d99b-4d3c-85fa-36a2424fd85e-Qw0Dbd anima-flexbox-container">
                    <img anima-src="{%static '/img/ellipse-17-2@1x.png' %}" class="ellipse-17-4e2951b7-b027-43c8-a306-3b70af822bef-JDFHY3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="auto-flex3-djnE0E anima-flexbox-container">
                        <img anima-src="{%static '/img/ellipse-17-10@1x.png' %}" class="ellipse-17-332f09dc-2a1f-4280-8aa5-0a1b0c67ab75-8V1bLu" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="chrislim63-a0dc8a2c-c19d-41df-8533-cc260391e9ba-Ea8OnN font-class-1">
                            CHRISLIM63
                        </div>
                    </div>
                    <div class="log-out-0b8f98b4-9a2f-4f45-92a0-807fcd003f2e-LXxoFz font-class-1">
                        LOG OUT
                    </div>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
