<!DOCTYPE html>
<html>
    <head>
        {% load static %}<link href="{%static '/img/favicon.png' %}" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
        <link href="{%static '/css/myinfomessage.css'%}" rel="stylesheet" type="text/css"/>
        <meta content="AnimaApp.com - Design to code, Automated." name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="myinfomessage"/>
        <div class="anima-container-center-horizontal">
            <div class="myinfomessage anima-screen ">
                <div class="group-10-1008c31f-9648-4844-97ee-1c07f7c4a671-bI9lbh anima-flexbox-container">
                    <div class="discover-b43bb837-fa13-4918-8520-fdd4de002ff0-bjCJOy font-class-1">
                        Discover
                    </div>
                    <div class="services-8bfcae1a-c748-4198-a557-60b9e50d87aa-kqyMku font-class-1">
                        Services
                    </div>
                    <div class="apply-66838cae-523e-460e-bbdc-e03a8e409282-UQ3Rjr font-class-1">
                        Apply
                    </div>
                    <div class="contact-1437f382-36e2-48bb-bcee-51185fdb6ef4-scK8GE font-class-1">
                        Contact
                    </div>
                </div>
                <img anima-src="{%static '/img/razer-logo-10@1x.png' %}" class="razer-logo-0474c896-c3de-47a0-aada-73eb57340352-WMarax" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="group-94-e1160902-c2aa-4f69-ac8a-d05668505679-PwSReO">
                    <img anima-src="{%static '/img/path-92-3@1x.png' %}" class="path-92-29f11d37-76f6-4c99-aae8-dcfec7d399ed-UtngxU" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="down-icon-5b974360-1d53-40c1-b86c-9a1d50400e01-4FBdPZ">
                        <img anima-src="{%static '/img/bx-chevron-down-11@1x.png' %}" class="bx-chevron-down-d408ca81-39a0-4156-9f05-312703ddf7f6-xrNWNk anima-flexbox-container" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="rectangle-37-afe719c4-05f5-4568-82ba-3a6b6c299b4a-X5Ye3F">
                        </div>
                    </div>
                    <img anima-src="{%static '/img/rectangle-43-7@1x.png' %}" class="rectangle-43-55729008-bfd4-41c2-888c-8e004facfdce-HxTMoV" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="group-78-363b9a25-c792-4197-975a-03e3df73cbc2-d6Rg09">
                        <div class="group-71-0eb9c1d1-1273-4aff-8ca4-f3e6e1181d50-TubdH7 anima-flexbox-container">
                            <div class="group-68-9925fe0a-d909-41ba-bed5-6270a8612dcc-NHmwif anima-flexbox-container">
                                <div class="group-67-63fd0134-2b82-483f-be4d-ee1135bc9776-dxmbNg anima-flexbox-container">
                                    <div class="group-62-e74a1d9e-5386-443b-a670-1cd66d7134e2-FJS9ou anima-flexbox-container">
                                        <div class="rectangle-103-28d05952-895d-4e5c-98ef-c3859b9eb23c-g1NRbU">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img anima-src="{%static '/img/download-2@1x.png' %}" class="download-6c19fe8e-2058-4530-849f-eb97a29d3228-itWxxB" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="retrieve-from-f59aa590-d540-4def-8ff3-51f32ef9552a-pD0sPt font-class-1">
                            Retrieve from
                        </div>
                    </div>
                    <div class="account-application-form-4850b3b8-430f-43bc-9d25-53e34448cace-cxIYJW font-class-1">
                        Account Application Form
                    </div>
                    <div class="a1-personal-details-683d372b-dc75-414b-8d27-3aa539e22ee1-0R9OZt font-class-1">
                        1. Personal Details
                    </div>
                    <div class="a2-proof-of-residential-address-a2702c6e-5249-469f-8eb3-ddd9c1e6d148-B7wxs5 font-class-1">
                        2. Proof of Residential Address
                    </div>
                    <img anima-src="{%static '/img/rectangle-105-5@1x.png' %}" class="rectangle-105-9a5a9ef3-22f7-4507-9472-020ad3e0917e-DhvjhX" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="document-name-b9056d26-4acc-48f9-82fc-9d67f4ddfa43-TpGZYz font-class-1">
                        Document Name
                    </div>
                    <div class="local-utility-bill-55a9733b-e95a-48bf-b9ae-ca30e3fd5828-P4whhT font-class-1">
                        Local Utility Bill
                    </div>
                    <div class="local-telecommunication-bill-6123beb2-3d33-4c0f-b3e2-3779ee6407b9-VXtoyx font-class-1">
                        Local telecommunication bill
                    </div>
                    <div class="local-bank-statement-credit-card-statement-769dbaee-e741-4f5c-bf28-98f96d5e56cd-7j2vI4 font-class-1">
                        Local bank statement/credit card statement
                    </div>
                    <div class="provide-the-latest-copy-within-last-3-months-of-any-of-the-items-below-1ce2c763-e4de-4e10-bb97-2712352718a9-mQ9MfV font-class-1">
                        Provide the latest copy (within last 3 months) of any of the items below:
                    </div>
                    <div class="group-86-c0c0d1e9-613f-4cb2-a724-975d5b752c30-L0Uonp anima-flexbox-container">
                        <div class="down-icon-7ab1f1c5-09e7-4453-9cbd-02d70f547283-tnrHhZ">
                            <img anima-src="{%static '/img/bx-chevron-down-10@1x.png' %}" class="bx-chevron-down-03ce6f5e-fcad-44c8-a9d6-58ebcd765401-SmxrYm" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="rectangle-37-10e31ddc-b0e4-44c6-8d45-1a1a6096ad7a-ecztOY">
                            </div>
                        </div>
                    </div>
                    <div class="upload-document-596e3d35-eba7-465b-988e-c274157d3e83-keAJH1 font-class-1">
                        Upload Document
                    </div>
                    <div class="group-12-853fda4f-2ecb-460b-aea2-2f96fab75f43-ISipJB anima-flexbox-container">
                        <div class="group-85-b8c05fed-463b-4e8b-8c2f-ebdd3742e6a5-hT4oGx">
                            <img anima-src="{%static '/img/path-13-5@1x.png' %}" class="path-13-354b9cff-0e4c-45fc-af53-05aa33fa96a5-ovdH4g" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="submit-application-5d898d78-1d8d-449d-aadb-9aff91cce02e-09khFM font-class-1">
                                Submit Application
                            </div>
                        </div>
                    </div>
                </div>
                <img anima-src="{%static '/img/rectangle-105-13@1x.png' %}" class="rectangle-105-84500279-df11-437c-b756-440c575101bc-RZwBbm" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="opening-a-razer-bank-account-9459bbea-bf41-41b3-99c0-3bb02a75f8e4-WU7xFV font-class-1">
                    Opening A Razer<br />Bank Account
                </div>
                <div class="group-100-a50dd318-9995-4c48-9071-c3014aed48a3-cJIxD3 anima-flexbox-container">
                    <div class="auto-flex-VFtbzM anima-flexbox-container">
                        <a href="myaccount.html">
                            <img anima-src="{%static '/img/ellipse-17-10@1x.png' %}" class="ellipse-17-5f98a5ea-0c8f-4049-b084-f04fbf5a9b88-xKtUam" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </a>
                        <div class="chrislim63-b845c109-74b9-473e-8b13-1dc7703b9176-KVmtvc font-class-1">
                            CHRISLIM63
                        </div>
                    </div>
                    <div class="log-out-778ebfef-a66b-42b1-bb31-eba5df6e1c87-BSeuOC font-class-1">
                        LOG OUT
                    </div>
                </div>
                <div class="rectangle-607-a7719e24-bf13-4039-9de6-ad365f03d1a8-o3hb1y">
                </div>
                <a href="loanappcomplete.html">
                    <img anima-src="{%static '/img/myinfo-3@1x.png' %}" class="my-info-3-cd6d3583-f40d-4b18-b299-6ae60d218ceb-oipKLo" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </a>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
