<!DOCTYPE html>
<html>
    <head>
        {% load static %}<link href="{%static '/img/favicon.png' %}" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
        <link href="{%static '/css/openaccountapplication.css'%}" rel="stylesheet" type="text/css"/>
        <meta content="AnimaApp.com - Design to code, Automated." name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="openaccountapplication"/>
        <div class="anima-container-center-horizontal">
            <div class="openaccountapplication anima-screen ">
                <div class="group-10-1f09f443-8db4-4705-9e99-e9b083130063-t5f95M anima-flexbox-container">
                    <div class="discover-52eae354-2848-497f-9eea-079ef62bf9da-ac8Veh font-class-1">
                        Discover
                    </div>
                    <div class="services-7d854fa8-7ec8-48d3-9ae2-9d7b489af953-enp7zr font-class-1">
                        Services
                    </div>
                    <div class="apply-9f104dcb-6325-4706-b6b4-45164cf76226-N4nw15 font-class-1">
                        Apply
                    </div>
                    <div class="contact-76f863d7-323c-4465-944a-dc8cdb7725fb-SxTxZ4 font-class-1">
                        Contact
                    </div>
                </div>
                <img anima-src="{%static '/img/razer-logo-10@1x.png' %}" class="razer-logo-b7ed10a0-a9f9-4bba-8071-b080df6f8327-vhFiN6" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="group-94-326500cc-d94c-4b0a-831e-ba18bf10148d-7FE7Hy">
                    <img anima-src="{%static '/img/path-92-3@1x.png' %}" class="path-92-8ddeb661-27d9-4119-8a54-cdba8c199983-UHDdiQ" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="down-icon-8f352cd4-e24c-493e-bc0b-8115eda2faa4-Lcm3i9">
                        <img anima-src="{%static '/img/bx-chevron-down-11@1x.png' %}" class="bx-chevron-down-f264d788-a493-419a-b3ce-848fff048fa8-UeLqd2 anima-flexbox-container" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="rectangle-37-251900a8-c4f9-47e6-9057-b6e67f320287-8cBH6O">
                        </div>
                    </div>
                    <img anima-src="{%static '/img/rectangle-43-6@1x.png' %}" class="rectangle-43-0b047117-c466-43e2-8cb3-86ad64f3ca7a-0IPiWx" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="group-78-83d67c68-648e-4b89-b124-1b18b26c2028-3iPC37">
                        <div class="group-71-19f25b09-b407-48c4-84e4-df92f3a15b86-1LkuxJ anima-flexbox-container">
                            <div class="group-68-1c2d3538-e787-4bdb-8956-6cf4cbcf5107-dwCUGx anima-flexbox-container">
                                <div class="group-67-3323e667-0330-469f-afb7-1853e6c5d3a2-xu9tln anima-flexbox-container">
                                    <div class="group-62-29570701-f61e-4758-b83c-9af68bc19941-cbfo79 anima-flexbox-container">
                                        <div class="rectangle-103-4faba463-bb6f-4586-b471-cbbd607670cc-EjjRLv">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img anima-src="{%static '/img/download-2@1x.png' %}" class="download-a2b5b08a-8999-4c83-bc7c-a7cc89ea1ecb-iywV6a" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="retrieve-from-cabb4902-cd66-45bd-babc-08e4e50f4ba1-x04RDC font-class-1">
                            Retrieve from
                        </div>
                    </div>
                    <div class="account-application-form-9eb27c31-fa90-43cc-8853-7a2286576efb-mSoL3g font-class-1">
                        Account Application Form
                    </div>
                    <div class="a1-personal-details-51a2de11-5be3-4e40-a2a4-5b3f4fd38465-x5gVC2 font-class-1">
                        1. Personal Details
                    </div>
                    <div class="a2-proof-of-residential-address-b6ef8f1f-4311-47e6-abec-737ef52fe205-1Ag39Q font-class-1">
                        2. Proof of Residential Address
                    </div>
                    <img anima-src="{%static '/img/rectangle-105-5@1x.png' %}" class="rectangle-105-2522b8f8-b6f3-4b4f-90d3-efba805c2582-ZiVad1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="document-name-bcec65eb-c2c0-4b10-9bcd-06967350f370-xYRor5 font-class-1">
                        Document Name
                    </div>
                    <div class="local-utility-bill-e2631254-4c55-4d8f-9d5d-4c0b5a5164b8-9UBHcG font-class-1">
                        Local Utility Bill
                    </div>
                    <div class="local-telecommunication-bill-3b4c7811-1dd0-47b1-a227-94c8fc2ccdd7-g086A9 font-class-1">
                        Local telecommunication bill
                    </div>
                    <div class="local-bank-statement-credit-card-statement-43a79da2-a288-441d-8afd-1804861a6440-tooFjS font-class-1">
                        Local bank statement/credit card statement
                    </div>
                    <div class="provide-the-latest-copy-within-last-3-months-of-any-of-the-items-below-50a51521-a85f-44f4-85d7-5e6ba6250315-GbRBTL font-class-1">
                        Provide the latest copy (within last 3 months) of any of the items below:
                    </div>
                    <div class="group-86-4552a01d-5872-48b8-bfab-e88f1c960ad9-csoRdx anima-flexbox-container">
                        <div class="down-icon-1f8c6389-213f-4038-b276-92ccd0a79264-ZRxxqz">
                            <img anima-src="{%static '/img/bx-chevron-down-10@1x.png' %}" class="bx-chevron-down-8f83039c-5e1e-4cf1-901d-37257e33a69b-SWAakE" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="rectangle-37-25f914b9-d3af-4357-8042-dc8259d59c02-Nib3Xf">
                            </div>
                        </div>
                    </div>
                    <div class="upload-document-46aeed4d-3ce0-41ed-ac90-f89ad85dc69e-HxU1X1 font-class-1">
                        Upload Document
                    </div>
                    <a href="openaccountapproved.html">
                        <div class="group-12-3b4e769d-9375-4f34-baef-e6bdddd487c2-EZWxhw anima-flexbox-container">
                            <div class="group-85-0ca21164-e45c-4d5f-bf25-dfca106e8b99-182nsx">
                                <img anima-src="{%static '/img/path-13-5@1x.png' %}" class="path-13-338a558a-dbb3-4ca8-85fc-3116dc29c61d-Z4wAqY" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="submit-application-5a3b359c-9a5d-4fb1-83ed-85fc17ec3637-O5qYro font-class-1">
                                    Submit Application
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <img anima-src="{%static '/img/rectangle-105-13@1x.png' %}" class="rectangle-105-eded285c-2743-4d2d-bb54-f73bb47c205c-NOncxG" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="opening-a-razer-bank-account-2b73c8f6-44df-4a52-a8f6-267d66e95b28-x1l8VE font-class-1">
                    Opening A Razer<br />Bank Account
                </div>
                <div class="group-100-52dde34c-9651-4c01-ae39-d1ea9ce90eb3-sqLJsI anima-flexbox-container">
                    <div class="auto-flex-aoIBg2 anima-flexbox-container">
                        <a href="myaccount.html">
                            <img anima-src="{%static '/img/ellipse-17-10@1x.png' %}" class="ellipse-17-ca5ad745-baf0-48f0-81e7-eb6878894ea7-iz71OA" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </a>
                        <div class="chrislim63-f390e4a0-a585-441e-a550-fb53ff1e7896-IpnMTF font-class-1">
                            CHRISLIM63
                        </div>
                    </div>
                    <div class="log-out-0c201f94-3dcf-4c7f-a255-761696bb4964-o8WO3f font-class-1">
                        LOG OUT
                    </div>
                </div>
                <div class="text-field-outlined-unfilled-enabled-23813ea3-de8f-4e02-ad4b-2cd7a0a88ef4-tTtRVq">
                    <div class="surface-27417e52-19c9-473a-b7ec-7e8e0b265bf3-cHwx9g">
                    </div>
                    <div class="date-of-birth-f8766d7f-7d15-40d5-aeea-833eb5f64b36-bDMbZe font-class-2">
                        Date of Birth
                    </div>
                </div>
                <div class="text-field-outlined-unfilled-enabled-8a9750f2-17b5-4c0f-b35f-56945cece46a-Sgyi92 anima-flexbox-container">
                    <div class="overlap-group-auyQ7l">
                        <div class="surface-858cac03-854f-4109-9234-8d7f022e193f-oVAJGO">
                        </div>
                        <div class="address-6aecc8ab-b543-42d8-81c4-8b0122c21578-SIYiUo font-class-2">
                            Address
                        </div>
                    </div>
                    <div class="pdpa-e53d4eee-2908-43a3-9149-9d68785f29e4-WJeVaq font-class-3">
                        PDPA
                    </div>
                </div>
                <div class="text-field-outlined-unfilled-enabled-be99e866-e405-4b4e-afad-b6779239a89b-zD924B">
                    <div class="surface-7823a00a-9dab-4411-a0ca-e62d6a40345b-xtE3CQ">
                    </div>
                    <div class="nric-4836a3cf-92d6-4c4c-a3c5-d4dd05530ac3-oA7Zzu font-class-2">
                        NRIC
                    </div>
                </div>
                <div class="text-field-outlined-unfilled-enabled-6aa81145-7516-4c16-8025-402fd0c72974-bztPyw">
                    <div class="surface-20766523-a278-4356-b43b-793576f8ab96-dF4hlQ">
                    </div>
                    <div class="nationality-f98c9626-7e62-4eac-85db-2121626ff602-xUHFku font-class-2">
                        Nationality
                    </div>
                </div>
                <div class="text-field-outlined-unfilled-enabled-30bedf74-b0ec-4c5b-9ad5-c95e32cb133f-45c7TP">
                    <div class="surface-decb87a6-ff21-4677-a813-7197a76cff2e-nO8uIY">
                    </div>
                    <div class="name-as-per-nric-24b89bc3-deb7-40b3-ae52-60ddfc8ebb0c-dstHR4 font-class-2">
                        Name as Per NRIC
                    </div>
                    <div class="icon-visibility-filled-4be6e246-3947-4636-a1bb-9f89acb9881f-0wdFrZ">
                    </div>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
