<!DOCTYPE html>
<html>
    <head>
        {% load static %}<link href="{%static '/img/favicon.png' %}" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
        <link href="{%static '/css/register.css'%}" rel="stylesheet" type="text/css"/>
        <meta content="AnimaApp.com - Design to code, Automated." name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="register"/>
        <div class="anima-container-center-horizontal">
            <div class="register anima-flexbox-container anima-screen ">
                <div class="auto-flex-1lKxzb anima-flexbox-container">
                    <a class="align-self-flex-end" href="homepage.html">
                        <img anima-src="{%static '/img/razer-logo-10@1x.png' %}" class="razer-logo-67438f06-6633-4fbc-80bd-faf01fe605fd-7gIHtB" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </a>
                    <a href="homepage.html">
                        <div class="group-10-c7bc3bdf-4e5e-4d17-af01-e763e498fb9c-yI9WbH anima-flexbox-container">
                            <div class="discover-5026afc0-764d-4c7a-b556-1be9fcfc8754-ef75Q1 font-class-1">
                                Discover
                            </div>
                            <div class="services-a3bb6814-938e-4ec3-9007-d9ae074bad45-8nw7Bb font-class-1">
                                Services
                            </div>
                            <div class="apply-81e1e6c1-c676-48ff-9498-3d14f9fbf27b-NyBok6 font-class-1">
                                Apply
                            </div>
                            <div class="contact-051e2ab3-d3f8-4936-98d0-e446881a39e1-ji2v6D font-class-1">
                                Contact
                            </div>
                        </div>
                    </a>
                    <div class="group-11-8c72fa84-47b0-4dfc-8c40-d1004113f33c-MXMSEr">
                        <div class="rectangle-39-6669eb60-8c5a-4781-931c-ef865e3ad8cb-fewKK8">
                        </div>
                        <div class="get-started-8d600250-4a98-4f73-8dc8-ff791a6b8c85-7Q3W85 font-class-1">
                            Get Started
                        </div>
                    </div>
                </div>
                <div class="overlap-group-Y7zamN">
                    <img anima-src="{%static '/img/path-89-1@1x.png' %}" class="path-89-7e836b92-acf4-4d91-ad69-dfec9ca09e5b-uyXfNV" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{%static '/img/rectangle-40-1@1x.png' %}" class="rectangle-40-cb02ad4a-cb49-4602-a93a-1951da0365aa-hBBRY5" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="register-4b3f0f40-a052-42f9-80a5-c2a033696400-yP2Qia font-class-1">
                        REGISTER
                    </div>
                    <a href="login.html">
                        <div class="log-in-cd8400d6-d514-45fd-9c70-466871bbbe92-mT0vLI font-class-1">
                            LOG IN
                        </div>
                    </a>
                    <img anima-src="{%static '/img/path-990-1@1x.png' %}" class="path-990-02da6d11-7260-4a2b-8a88-ed57470b9b2c-xMomWD" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="group-84-00621e56-2f63-4a03-8f22-097b0a6112ff-3vlrev anima-flexbox-container">
                        <div class="text-field-outlined-active-34fdbc24-5e03-4bd1-b322-7dcf888106bf-3YzTje">
                            <div class="surface-b11d5503-2e35-4c7a-ae9a-f81f44f08fe1-lkDw1H">
                            </div>
                            <div class="adrian-8328f80c-ecbb-4fa6-b72d-6a4e0f3ac3d2-6xoqJx font-class-4">
                                Adrian
                            </div>
                            <div class="rectangle-597-f4d5402b-e6e8-4b1a-a1f3-94afe142e9a9-5VD8d3">
                            </div>
                            <div class="username-4e37a36c-861c-4f1c-88f8-22121aa3e85a-PT93BG">
                                Username
                            </div>
                            <div class="input-3079f8f4-85be-4d19-9322-3d7e928ef37a-smdxO7">
                            </div>
                        </div>
                        <div class="text-field-outlined-unfilled-enabled-982aa682-215e-40d1-a8c2-f0bf9e49bb0c-NgJOiY">
                            <div class="surface-f011a319-dad5-4d83-a50a-4b57936e8a40-nnf8WQ">
                            </div>
                            <div class="email-address-c0181805-b071-45d5-868c-749cac01f1fb-SxRR7x font-class-4">
                                Email Address
                            </div>
                        </div>
                        <div class="text-field-outlined-unfilled-enabled-d36ccddb-e528-4de5-a3ee-48cd4dc3c67c-1vMtBB anima-flexbox-container">
                            <div class="overlap-group1-Xb8q1j">
                                <div class="surface-3685de51-3fd6-4be9-9f8d-08b02b3c3309-7j0ots">
                                </div>
                                <div class="password-917f3cda-4886-42f9-83e4-d11190ab0a5f-t2swhi font-class-4">
                                    Password
                                </div>
                                <div class="icon-visibility-filled-6066bc29-8bbf-4655-aebd-7afbc2aaa94c-ZmQvm8">
                                    <img anima-src="{%static '/img/path-988-1@1x.png' %}" class="path-988-385a5a8a-de18-4b22-91c2-1f96dd82a987-YmYbj8" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <div class="box-bcdfb1ca-ec6d-4ca1-8786-7a28ba99c427-1wc2Ef">
                                    </div>
                                </div>
                            </div>
                            <div class="the-password-must-be-between-4-and-6-characters-d6a6a0a0-ae1a-472a-9ea8-2633704db35c-eL8Zxy">
                                The password must be between 4 and 6 characters
                            </div>
                        </div>
                        <div class="text-field-outlined-unfilled-enabled-b9a7cb84-4dde-43ed-a2ff-12b15e282c97-ELYfkH">
                            <div class="surface-d3c9d883-3451-4749-8feb-caa16c587b0e-vx73R8">
                            </div>
                            <div class="retype-password-cb14037d-fc4c-4ab2-8b98-221a7750c70f-eZxQzF font-class-4">
                                Retype Password
                            </div>
                            <div class="icon-visibility-filled-e3f6565f-7c88-4c20-9bdb-3128f4cf332f-iPNYQa">
                                <img anima-src="{%static '/img/path-988-2@1x.png' %}" class="path-988-18c47cc4-9d8d-4be8-839c-e51b3251dcbb-4EH9Do" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="box-01eb6684-724b-45e2-97db-103b53ebb9b3-Q6xYop">
                                </div>
                            </div>
                        </div>
                        <div class="text-field-outlined-unfilled-enabled-2ca382da-9780-4f2f-8489-e5597b7d73ae-HrnVBQ">
                            <div class="surface-796cd15e-3ace-4f96-850b-b563f8302492-GuWtLU">
                            </div>
                            <div class="mobile-number-72b77cd3-7df3-4dca-96d4-38b4064e80e5-YKvdmz font-class-4">
                                Mobile Number
                            </div>
                        </div>
                    </div>
                    <a href="registersuccess.html">
                        <div class="buttons-contained-enabled-f3e16a7e-ff08-4729-8f96-52eb9aea5504-9HDUaL anima-smart-layers-pointers ">
                            <img anima-src="{%static '/img/rectangle-377-1@1x.png' %}" class="rectangle-377-defe4b2d-820d-4e0b-a08c-65c10cc662ba-zTWDVX" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="register-11f2fd07-92ec-4467-bcbc-691571d15d8e-BAoaDn font-class-5">
                                REGISTER
                            </div>
                        </div>
                    </a>
                    <div class="register-aedf8293-5f37-4cac-ba23-b11218964523-wVSsqQ font-class-1">
                        Register
                    </div>
                    <div class="log-in-to-your-razer-account-to-open-bank-accounts-and-apply-for-loans-with-ease-dab99f5f-347f-4c2c-9289-ea3778701f12-Y8hoEF font-class-1">
                        Log in to your Razer account to open bank accounts<br />and apply for loans with ease.
                    </div>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
