<!DOCTYPE html>
<html>
    <head>
        {% load static %}<link href="{%static '/img/favicon.png' %}" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
        <link href="{%static '/css/registersuccess.css'%}" rel="stylesheet" type="text/css"/>
        <meta content="AnimaApp.com - Design to code, Automated." name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="registersuccess"/>
        <div class="anima-container-center-horizontal">
            <div class="registersuccess anima-flexbox-container anima-screen ">
                <div class="auto-flex-1lKxzb anima-flexbox-container">
                    <a class="align-self-flex-end" href="homepage.html">
                        <img anima-src="{%static '/img/razer-logo-10@1x.png' %}" class="razer-logo-ca7bcfa9-a910-42fc-9bef-df0cba8f9b63-fH9NZe" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </a>
                    <a href="homepage.html">
                        <div class="group-10-54f99f0c-ff10-421a-a33a-fa8cb11f12ac-fFjfGE anima-flexbox-container">
                            <div class="discover-b5e1da29-922a-461d-8b1a-dc2f936788cc-e6nOZm font-class-1">
                                Discover
                            </div>
                            <div class="services-9feb77ee-a9a8-4394-83d4-b993600fb233-FpFCnQ font-class-1">
                                Services
                            </div>
                            <div class="apply-9a8e16be-e33b-48dd-abde-d243d87fd5c1-UwIaVG font-class-1">
                                Apply
                            </div>
                            <div class="contact-d701c086-47e3-4828-b7ff-1ac2b26d4cb2-CgRNdv font-class-1">
                                Contact
                            </div>
                        </div>
                    </a>
                    <div class="group-11-7827f597-2aac-48dc-95dc-de9c11136a5b-ByhKV9">
                        <div class="rectangle-39-c4f18376-a7cc-41bc-b32d-72b3793eb7b2-dujwpc">
                        </div>
                        <div class="get-started-4bee9a7b-9b61-4877-9c20-36def3775b9f-jZSidK font-class-1">
                            Get Started
                        </div>
                    </div>
                </div>
                <div class="overlap-group-Y7zamN">
                    <img anima-src="{%static '/img/path-89-1@1x.png' %}" class="path-89-f3417e3d-02fa-4a8b-8828-753a3866955d-GdoURC" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{%static '/img/rectangle-40-1@1x.png' %}" class="rectangle-40-8b7f3b62-b8ff-4f65-bbba-5d1c4a4adfc3-gB5pH7" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="register-8daf394f-7253-464f-be03-7f16a2a7197e-BHacRy font-class-1">
                        REGISTER
                    </div>
                    <a href="login.html">
                        <div class="log-in-a44e4c43-c62f-4fb3-b46e-7deb355d93f2-uoi8Vo font-class-1">
                            LOG IN
                        </div>
                    </a>
                    <img anima-src="{%static '/img/path-990-1@1x.png' %}" class="path-990-37d09d30-8b8f-4705-9842-cebbd3bc81bb-d1EGDu" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="group-84-668bf713-7a92-42da-afa6-04fbe8d21858-MK5Jpo anima-flexbox-container">
                        <div class="text-field-outlined-unfilled-enabled-77d1561b-a7d0-4eaf-bceb-10fdf22173e4-xGTCY4 anima-flexbox-container">
                            <div class="a-text-message-has-been-sent-to-65-9123-5677-b88750e5-8537-4fe4-9dda-39d221439948-qJ1jp2 font-class-2">
                                A text message has been sent to +65 9123 5677.
                            </div>
                            <div class="overlap-group1-aMUVll">
                                <div class="surface-2185df6e-bbb2-4f93-9d7e-af63779b86be-zjXFQ6">
                                </div>
                                <div class="verification-code-6761b03e-69a3-4357-8208-e23fbf8a11e0-eh0LtK font-class-2">
                                    Verification Code
                                </div>
                            </div>
                            <div class="resend-aadc937a-7354-422b-a86b-2f787cd5d2fc-0riHuG font-class-3">
                                Resend?
                            </div>
                        </div>
                    </div>
                    <a href="verifylogin.html">
                        <div class="buttons-contained-enabled-595da512-7240-4b3c-8e01-0f25ffa7d443-LqHCKF anima-smart-layers-pointers ">
                            <img anima-src="{%static '/img/rectangle-377-1@1x.png' %}" class="rectangle-377-23ae791b-0bf2-43a1-838a-01753e82b294-qQmq19" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="confirm-d6e64d95-7661-45d1-9515-c0dc4be90a72-mfAs53 font-class-5">
                                CONFIRM
                            </div>
                        </div>
                    </a>
                    <div class="register-031382d5-beaa-4f70-9860-41039d39235f-S5LRnZ font-class-1">
                        Register
                    </div>
                    <div class="log-in-to-your-razer-account-to-open-bank-accounts-and-apply-for-loans-with-ease-0be4542f-9d75-4b57-897a-4f674dd5c148-pBliTj font-class-1">
                        Log in to your Razer account to open bank accounts<br />and apply for loans with ease.
                    </div>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
