<!DOCTYPE html>
<html>
    <head>
        {% load static %}<link href="{%static 'img/favicon.png' %}" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
        <link href="{%static 'css/signletter.css' %}" rel="stylesheet" type="text/css"/>
        <meta content="AnimaApp.com - Design to code, Automated." name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="signletter"/>
        <div class="anima-container-center-horizontal">
            <div class="signletter anima-screen ">
                <div class="group-10-2c10ca4b-b525-4873-98ed-e1fec3151ae4-z57QGs anima-flexbox-container">
                    <div class="discover-82ee538c-ee4f-468c-bc10-97eeda858336-1IJ1UN font-class-1">
                        Discover
                    </div>
                    <div class="services-194e63ff-d83d-491c-89a7-9658d116380e-8ASKca font-class-1">
                        Services
                    </div>
                    <div class="apply-f4189b87-6482-4570-b80e-241e9ffe7aef-HuorlT font-class-1">
                        Apply
                    </div>
                    <div class="contact-29449206-c261-42e1-881e-7116998dbc39-WQJIfU font-class-1">
                        Contact
                    </div>
                </div>
                <img anima-src="{%static 'img/razer-logo-10@1x.png' %}" class="razer-logo-e4a61b30-318e-4ff4-afb2-4ec5773bdde0-QWXWJx" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="group-100-3ad1b53e-9e10-41b6-9fb0-8b65f264beb5-9YGpZt anima-flexbox-container">
                    <div class="auto-flex-NxWsen anima-flexbox-container">
                        <a href="myaccount">
                            <img anima-src="{%static 'img/ellipse-17-10@1x.png' %}" class="ellipse-17-206a3e4f-70aa-44ba-8d92-629f8bdcd5ff-AVsv3Q" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </a>
                        <div class="chrislim63-1deddb8e-43eb-445d-953c-b37fc490e897-sau4op font-class-1">
                            CHRISLIM63
                        </div>
                    </div>
                    <div class="log-out-ebfe7d59-5226-4777-b965-b17277a72690-5omx16 font-class-1">
                        LOG OUT
                    </div>
                </div>
                <img anima-src="{%static 'img/rectangle-43-10@1x.png' %}" class="rectangle-43-cedee4e8-d62d-4903-978c-0bf36f89d987-pMvOqI" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="application-id-20217db3-5b50-419d-afe7-4091eeb55676-O2fnFL font-class-1">
                    Application ID
                </div>
                <div class="date-of-application-e59530b2-7472-4910-9c98-2fe4e6f1db20-Dw9jJI font-class-1">
                    Date of Application
                </div>
                <div class="type-of-loan-85ee05b8-3f72-4be8-b831-47d165cd2c2b-O0TKIT font-class-1">
                    Type of Loan
                </div>
                <div class="status-e5d06149-53a2-42ab-961a-ed85ece0d0be-to7bm3 font-class-1">
                    Status
                </div>
                <div class="a2551441291-71b45c74-3f0b-467d-8a8f-eacb4737e8f5-nk6Q4j font-class-1">
                    2551441291
                </div>
                <div class="a04-may-2020-ac5432db-075b-4577-acd5-0cf743a22b52-blGxq5 font-class-1">
                    04 MAY 2020
                </div>
                <div class="student-loan-b638944b-3e52-47da-a617-3ac207d75392-LzHxJC font-class-1">
                    STUDENT LOAN
                </div>
                <div class="approved-929000b7-af51-405c-a077-dd6f916b3623-IsQxii font-class-1">
                    APPROVED
                </div>
                <div class="group-86-e258aeba-0172-429a-953a-676af6e34549-5xxJCs anima-smart-layers-pointers ">
                    <div class="down-icon-9562f01b-7c90-4c51-87e9-be923f6fee1b-n9jH84 anima-flexbox-container">
                        <img anima-src="{%static 'img/bx-chevron-down-17@1x.png' %}" class="bx-chevron-down-d3d79560-c396-4eb2-9ca4-81f4399d3c84-8YVRzh anima-flexbox-container" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                </div>
                <a href="dashboard">
                    <div class="return-to-dashboard-81a07efe-e525-4fe0-aa51-7d1d96197d2c-8MhlwV font-class-1">
                        Return to Dashboard
                    </div>
                </a>
                <div class="loan-will-be-disbursed-after-the-documents-below-are-signed-844e7f5d-5730-4575-b2c0-01c03ce5c445-WxBOK6 font-class-1">
                    Loan will be disbursed after the <br />documents below are signed:
                </div>
                <div class="loans-5005163f-ca2a-4086-8a2d-8912c3943ff2-c1TuME font-class-1">
                    LOANS
                </div>
                <img anima-src="{%static 'img/line-10-1@1x.png' %}" class="line-10-6fd69955-d16f-48b6-bade-8b5af0fff660-TQc376" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="letter-of-offer-c6a58237-b50c-42fb-a21f-98a36fa4819d-xahcAL font-class-1">
                    Letter of Offer
                </div>
                <img anima-src="{%static 'img/path-996-1@1x.png' %}" class="path-996-1f2a8432-afdc-468e-93d4-b1dac0376be5-gS23V1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <img anima-src="{%static 'img/loanofferletter-1@1x.png' %}" class="loanofferletter-c058c2de-7610-44f5-ba6a-89dee7abedf5-ENT1Fk" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="rectangle-609-12fa8484-71a8-4cb8-a958-3d5cb8acff89-mafPzT">
                </div>
                <div class="rectangle-610-6e66ead2-0006-47db-a803-3f84fb0f3d99-U0t7xO">
                </div>
                <div class="group-78-d9d81ea0-2730-41a0-8bec-f74270e1694c-xv90pH">
                    <div class="group-71-e391e60d-a475-4559-9792-1fd488676c33-dtXAOb anima-flexbox-container">
                        <div class="group-68-398d2bf8-49b6-487a-9010-8626285e4913-VN5WxE anima-flexbox-container">
                            <div class="group-67-19ebad84-b02b-4b65-85a5-2c0d79e22461-XTZuqo anima-flexbox-container">
                                <div class="group-62-3e98c552-93da-4dab-a0ca-ebd2525847f1-yCgTxC anima-flexbox-container">
                                    <div class="rectangle-103-49c6f95e-fc0f-4c54-87c5-b0298782b155-8UeKiC">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img anima-src="{%static 'img/download-2@1x.png' %}" class="download-c97ae0b5-8c0a-4385-b25e-37c34649d859-4jf85f" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="sign-with-a1170849-8e3c-4e39-86ba-a88ed0f6260f-6XgJCG font-class-1">
                        Sign with
                    </div>
                </div>
                <div class="rectangle-607-f3bf2008-0f90-4b10-870a-5da76c1d4c79-tOOt3x">
                </div>
                <a href="lettersigned">
                    <img anima-src="{%static 'img/myinfo-3-1@1x.png' %}" class="my-info-3-39ad9522-9247-49b4-9161-9bfc377fb126-cKGtgv" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </a>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
