<!DOCTYPE html>
<html>
    <head>
        {% load static %}<link href="{%static '/img/favicon.png' %}" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
        <link href="{%static '/css/verifyloginsingpass.css'%}" rel="stylesheet" type="text/css"/>
        <meta content="AnimaApp.com - Design to code, Automated." name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="verifyloginsingpass"/>
        <div class="anima-container-center-horizontal">
            <div class="verifyloginsingpass anima-flexbox-container anima-screen ">
                <div class="auto-flex-1lKxzb anima-flexbox-container">
                    <img anima-src="{%static '/img/razer-logo-10@1x.png' %}" class="razer-logo-42eb0d65-f059-4c67-8971-5a4bbc807499-zUolBf" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="group-10-742e46c0-a4b0-4f43-aef0-eca5bd90b807-2Fh6Zu anima-flexbox-container">
                        <div class="discover-8402db2c-f80b-4d30-a150-4bb7800214e7-i8Xamh font-class-1">
                            Discover
                        </div>
                        <div class="services-26869551-7eae-4cd1-ac19-67941850d128-fAKNFQ font-class-1">
                            Services
                        </div>
                        <div class="apply-ab4174a0-c572-4622-8b42-81c5d0338c79-FeRggD font-class-1">
                            Apply
                        </div>
                        <div class="contact-87d8c8cc-76cc-4174-9d6e-0de9079f1b90-pegy60 font-class-1">
                            Contact
                        </div>
                    </div>
                    <div class="group-11-e08174c0-c043-455c-902e-b5a40297e6ac-rZCGw1 anima-flexbox-container">
                        <div class="group-100-59fc5241-aa97-493e-bcae-a1870a6a318d-TfMreX anima-flexbox-container">
                            <div class="auto-flex1-vbeVFf anima-flexbox-container">
                                <img anima-src="{%static '/img/ellipse-17-10@1x.png' %}" class="ellipse-17-c46627eb-3226-440b-af0a-0ef3513958ea-zDqOxb" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="chrislim63-0d02c6e0-b90b-4b38-b73b-761aadccc079-3DbL2x font-class-1">
                                    CHRISLIM63
                                </div>
                            </div>
                            <div class="log-out-074403d8-ca9a-48e0-ba26-6ae94dc83c48-Be61Sr font-class-1">
                                LOG OUT
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlap-group1-yBpAcz">
                    <div class="verification-4fb3506e-39da-4418-8aed-bc0ee4484587-hSq1jl font-class-1">
                        Verification
                    </div>
                    <img anima-src="{%static '/img/line-4-3@1x.png' %}" class="line-4-fc4304da-8541-4d50-ae48-c415da81cf5b-ZEJYXB" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="overlap-group-Y7zamN">
                    <div class="please-verify-your-identity-with-any-of-the-options-below-ee2b6a36-cad3-4132-aff6-89caa30008b0-6hABJj font-class-1">
                        Please Verify Your Identity <br />With Any of The Options Below:
                    </div>
                    <div class="for-a-safer-razer-banking-experience-a-2-factor-authentication-is-required-2f79b141-bea8-4a9f-958e-331e6c596246-xzpaDO font-class-1">
                        For a safer Razer Banking experience, a 2 factor authentication is required.
                    </div>
                </div>
                <div class="overlap-group2-BPkGKm">
                    <div class="group-91-5f1e2a97-2e56-4013-b1c9-7b13e907de55-7inxeC anima-flexbox-container">
                        <div class="group-90-4d233156-4922-4e29-8d9e-a0c3918f6650-VNj30g">
                            <img anima-src="{%static '/img/screenshot-2020-05-16-at-5-35-36-pm@1x.png' %}" class="screenshot-2020-05-16-at-5-35-36-pm-75b57b6b-5ce8-44ce-9ceb-02f4e5567ce0-rQ1k7D" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="group-101-5b3d2c74-349f-4e2a-b097-496042df6cad-uMr8xG">
                                <div class="rectangle-598-56611f46-92d3-44b0-8302-2b9a2966a4f0-wBCF5h">
                                </div>
                                <div class="sing-pass-e87afd5e-f30e-4e42-bcb1-f690a3dc790b-e1bhRy font-class-1">
                                    SingPass
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="dashboard">
                        <img anima-src="{%static '/img/image-1@1x.png' %}" class="image-1-0bc541c2-748b-4d32-9d79-288a7f2faad1-3XslLU" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </a>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
