<!DOCTYPE html>
<html>
    <head>
        {% load static %}<link href="{%static '/img/favicon.png' %}" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
        <link href="{%static '/css/verifyloginmobile.css'%}" rel="stylesheet" type="text/css"/>
        <meta content="AnimaApp.com - Design to code, Automated." name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="verifyloginmobile"/>
        <div class="anima-container-center-horizontal">
            <div class="verifyloginmobile anima-flexbox-container anima-screen ">
                <div class="auto-flex-1lKxzb anima-flexbox-container">
                    <img anima-src="{%static '/img/razer-logo-10@1x.png' %}" class="razer-logo-2f8a30e9-fe43-4a6e-812f-68c64b1aed25-oxjlqd" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="group-10-5e818160-884d-4380-9e15-3e1b71294437-CsI0dx anima-flexbox-container">
                        <div class="discover-726d1caa-ea55-478a-aafd-9153ff7e4d57-UptaY5 font-class-1">
                            Discover
                        </div>
                        <div class="services-20eae5f9-e550-48d5-8da7-dab619cb60f3-SDxmCn font-class-1">
                            Services
                        </div>
                        <div class="apply-dee67332-609f-4629-924a-7a5c89896ce4-Tx4eJ1 font-class-1">
                            Apply
                        </div>
                        <div class="contact-7df3dc66-dc07-456e-9cc4-2dd11f3528bf-krJxNQ font-class-1">
                            Contact
                        </div>
                    </div>
                    <div class="group-11-57d8f99e-febb-4ed4-a74d-4862df7a699b-Dyn3Ej anima-flexbox-container">
                        <div class="group-100-77ed7c7e-6fd9-4644-8a9b-559b22207430-PxCGvs anima-flexbox-container">
                            <div class="auto-flex1-JVB4Qu anima-flexbox-container">
                                <a href="myaccount">
                                    <img anima-src="{%static '/img/ellipse-17-10@1x.png' %}" class="ellipse-17-b40eabfe-deed-4b83-ae3f-87a21b66a235-xKmRcp" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </a>
                                <div class="chrislim63-2136ad96-96aa-4aff-9d0e-ea0ae9bde310-PUqcfI font-class-1">
                                    CHRISLIM63
                                </div>
                            </div>
                            <div class="log-out-3ce09a74-cb60-43cd-8fed-474e85f6951a-mMVsK2 font-class-1">
                                LOG OUT
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlap-group1-yBpAcz">
                    <div class="verification-a8a17663-8a08-4095-af32-ee137f495811-xxtRtV font-class-1">
                        Verification
                    </div>
                    <img anima-src="{%static '/img/line-4-3@1x.png' %}" class="line-4-5cdee0a1-51aa-4514-94c6-1af22c7fe26a-0vzmEd" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="overlap-group-Y7zamN">
                    <div class="please-verify-your-identity-with-any-of-the-options-below-8f7cdd50-c011-4c14-a7cb-cbf6719a51a5-RM4JLl font-class-1">
                        Please Verify Your Identity <br />With Any of The Options Below:
                    </div>
                    <div class="for-a-safer-razer-banking-experience-a-2-factor-authentication-is-required-b66e7e1f-1a84-4d21-ab99-107b53a8ad76-mNT9BS font-class-1">
                        For a safer Razer Banking experience, a 2 factor authentication is required.
                    </div>
                </div>
                <div class="overlap-group2-BPkGKm">
                    <div class="group-91-6696ed58-41a2-4ffe-bd24-350f3098608e-7YJFCy anima-flexbox-container">
                        <div class="group-90-dd0f0aa7-485a-46b3-8d4c-379494ba2e4a-RmSXlj">
                            <a href="myaccount">
                                <img anima-src="{%static '/img/rectangle-104-1@1x.png' %}" class="rectangle-104-17007e6b-1f25-417a-9050-e4ed934ad29c-q4DVSy" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </a>
                            <div class="group-101-82a6ac89-a264-458f-b31c-eebabbf06153-AHKwXU">
                                <div class="rectangle-598-6e752cd4-d8ea-4d89-bc8c-69e30c6f8b81-nNxlqT">
                                </div>
                                <div class="mobile-number-5244d195-1cb9-433d-9b24-40c2c5c5f5ac-72dIrf font-class-1">
                                    Mobile Number
                                </div>
                            </div>
                            <div class="group-84-517d3368-ba9b-4a91-b29f-180f1714cb54-AWp8Wz anima-flexbox-container">
                                <div class="text-field-outlined-unfilled-enabled-7d1c9ca5-e3bd-4c44-8736-60e38919ab65-TfCDOH anima-flexbox-container">
                                    <div class="a-text-message-has-been-sent-to-65-xxxx-xx77-ac96d0eb-076b-4c46-b3b2-7ead62f1b799-2uRIp8 font-class-2">
                                        A text message has been sent to +65 XXXX XX77.
                                    </div>
                                    <div class="overlap-group3-A2BemH">
                                        <div class="surface-1b915a15-1991-4274-bd94-ebf120a70245-ixg8Uu">
                                        </div>
                                        <div class="verification-code-4dc8f45f-3551-49a1-beed-680d45df2f88-cxnxbr font-class-2">
                                            Verification Code
                                        </div>
                                    </div>
                                    <div class="resend-127b9c1d-afec-4753-ab38-9f2c64a3ead2-k2GEQJ font-class-3">
                                        Resend?
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="dashboard">
                        <div class="buttons-contained-enabled-d42e9611-c971-4b37-8010-d4635bd1c44e-wCgaOV">
                            <img anima-src="{%static '/img/rectangle-377-6@1x.png' %}" class="rectangle-377-6e2a7a8a-8fdf-4fcd-944d-ce84ca2e650b-3K4dit" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="confirm-6a77fdc1-d864-4f19-bf4b-bb23d9024b63-v09bSy font-class-5">
                                CONFIRM
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
