<!DOCTYPE html>
<html>
    <head>
        {% load static %}<link href="{% static '/img/favicon.png' %}" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
        <link href="{% static '/css/verifyloginmobile.css' %}" rel="stylesheet" type="text/css"/>
        <meta content="AnimaApp.com - Design to code, Automated." name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="verifyloginmobile"/>
        <div class="anima-container-center-horizontal">
            <div class="verifyloginmobile anima-flexbox-container anima-screen ">
                <div class="auto-flex-1lKxzb anima-flexbox-container">
                    <img anima-src="{% static '/img/razer-logo-10@1x.png' %}" class="razer-logo-de7b6620-b1e0-443f-bf93-73eea353ae18-VOxKuO" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="group-10-ededf1d0-e17d-4ca1-bc8a-d8ea1450c04e-0tYFVI anima-flexbox-container">
                        <div class="discover-ad523e58-3289-46e6-a480-e006d6984c14-vdE8xh font-class-1">
                            Discover
                        </div>
                        <div class="services-6de3eb4e-c040-449e-ae8e-fad04031c103-sK803u font-class-1">
                            Services
                        </div>
                        <div class="apply-c3631914-22c9-4217-90e0-f08cb2ceb8d0-XsCqDX font-class-1">
                            Apply
                        </div>
                        <div class="contact-5ddb9a04-8ba1-40c7-841c-d02b72b9b888-AsQPBW font-class-1">
                            Contact
                        </div>
                    </div>
                    <div class="group-11-05e4eda8-ee97-4065-b404-1514b9a7ed2d-WuVJSX anima-flexbox-container">
                        <div class="group-100-4534fceb-b281-4b51-8973-997d76d07685-eHJXiR anima-flexbox-container">
                            <div class="auto-flex1-EXhHym anima-flexbox-container">
                                <a href="myaccount">
                                    <img anima-src="{% static '/img/ellipse-17-10@1x.png' %}" class="ellipse-17-8d582c10-a8f3-4bc8-80f7-b11a104a0896-s7wezy" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </a>
                                <div class="chrislim63-e08e399a-9d58-4ad1-b67d-00c66a89b9e5-naaJry font-class-1">
                                    CHRISLIM63
                                </div>
                            </div>
                            <div class="log-out-1a279a8c-c0d5-4912-ab4c-3b459ed09cd3-nbYY9A font-class-1">
                                LOG OUT
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlap-group1-yBpAcz">
                    <div class="verification-255e51b3-f8d5-4fc4-ae06-a93bfc0d52ec-lbvVtz font-class-1">
                        Verification
                    </div>
                    <img anima-src="{% static '/img/line-4-3@1x.png' %}" class="line-4-ec54fa40-7e72-40e8-88d3-5ae11dbf5c7c-gUO8xs" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="overlap-group-Y7zamN">
                    <div class="please-verify-your-identity-with-any-of-the-options-below-50c21275-6143-44be-b099-0abcf623874f-fEWAqp font-class-1">
                        Please Verify Your Identity <br />With Any of The Options Below:
                    </div>
                    <div class="for-a-safer-razer-banking-experience-a-2-factor-authentication-is-required-9e2b9d86-01dd-4611-8bff-d34a3e50a6a3-xeL3Gc font-class-1">
                        For a safer Razer Banking experience, a 2 factor authentication is required.
                    </div>
                </div>
                <div class="overlap-group2-BPkGKm">
                    <div class="group-91-8ab36bd7-c6f5-427a-97e9-9cfba611a411-TehLgb anima-flexbox-container">
                        <div class="group-90-fc5c4b87-f7d6-4462-8a17-f17a5178144b-CuBynx">
                            <img anima-src="{% static 'img/rectangle-104-1@1x.png' %}" class="rectangle-104-b2b445fa-dc80-4658-b70b-f74b65ecd250-VzbOx3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="group-101-310aa547-3a80-4115-b78e-b81acb5f2ea0-HxlcKB">
                                <div class="rectangle-598-c55bcb38-954b-4b61-bf1f-516397941e48-t3MGml">
                                </div>
                                <div class="mobile-number-0d1e43ca-9e0b-4828-9ee2-2354d608f6c8-4I8ixx font-class-1">
                                    Mobile Number
                                </div>
                            </div>
                            <div class="group-84-37164bca-3187-4682-acda-b9005ec5bb84-h7QzE7 anima-flexbox-container">
                                <div class="text-field-outlined-unfilled-enabled-7f762903-c8ac-4645-8456-4cb4cf3a5fb2-VbOwFJ anima-flexbox-container">
                                    <div class="a-text-message-has-been-sent-to-65-xxxx-xx77-aac9ecbc-5fca-4b2d-a69c-974d77831f7f-avfr1r font-class-2">
                                        A text message has been sent to +65 XXXX XX77.
                                    </div>
                                    <div class="overlap-group3-nK9DZA">
                                        <div class="surface-4a56d6d0-f6ad-4931-b21b-ae95fb1d5a32-nKhhr0">
                                        </div>
                                        <div class="verification-code-6d79f43d-d6ea-4273-a926-bddac3c55d10-LodGxd font-class-2">
                                            Verification Code
                                        </div>
                                    </div>
                                    <div class="resend-15fd34a8-8f4c-4065-b97c-5e4552457f74-r34Zmp font-class-3">
                                        Resend?
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="dashboard">
                        <div class="buttons-contained-enabled-d2181d0a-9448-40db-b255-37c6ffce1225-fZUR84">
                            <img anima-src="{% static 'img/rectangle-377-6@1x.png' %}" class="rectangle-377-7eb7f5bc-9c49-47ae-9b91-68b8b60d8429-grc1d9" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="confirm-3386265c-6d4b-4659-b112-a0378e0f7ad0-CfePlp font-class-5">
                                CONFIRM
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
