<!DOCTYPE html>
<html>
    <head>
        {% load static %}<link href="{%static '/img/favicon.png' %}" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
        <link href="{%static '/css/verifylogin.css'%}" rel="stylesheet" type="text/css"/>
        <meta content="AnimaApp.com - Design to code, Automated." name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="verifylogin"/>
        <div class="anima-container-center-horizontal">
            <div class="verifylogin anima-flexbox-container anima-screen ">
                <div class="auto-flex-1lKxzb anima-flexbox-container">
                    <img anima-src="{%static '/img/razer-logo-10@1x.png' %}" class="razer-logo-1c7e4daa-bc60-45f2-99ac-3620bafbd599-chGvW2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="group-10-c45c30c1-5a88-46a6-bb96-f1f21f20a34c-JfNCeF anima-flexbox-container">
                        <div class="discover-8033bea3-c2fe-4ff3-8b4f-dd27bf416d97-AjtcM9 font-class-1">
                            Discover
                        </div>
                        <div class="services-b0fad660-eb39-4166-bf75-64db2228190b-O8TNfg font-class-1">
                            Services
                        </div>
                        <div class="apply-e09d9f6d-a0dc-41ef-85ed-681ce0a0900c-M9gQ6a font-class-1">
                            Apply
                        </div>
                        <div class="contact-b0a13c7f-7267-4abf-a690-a48020878ac1-lL9hxv font-class-1">
                            Contact
                        </div>
                    </div>
                    <div class="group-11-7c374e6e-ff99-463e-9f24-e5eb353e5f8f-0yG4Ty anima-flexbox-container">
                        <div class="group-100-b3cfffa6-be6a-4295-8616-3f867f459be5-L6l764 anima-flexbox-container">
                            <div class="auto-flex1-6g4Y6v anima-flexbox-container">

                                    <img anima-src="{%static '/img/ellipse-17-10@1x.png' %}" class="ellipse-17-b1d9d892-75ab-406a-8095-26968ae0a74f-mNXloh" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="chrislim63-789ee1b7-de96-4078-b1b5-b5ca0815d3dc-TCNvPa font-class-1">
                                    CHRISLIM63
                                </div>
                            </div>
                            <div class="log-out-988388d5-f899-413e-80ab-0c9b5305feb8-Ev8uRx font-class-1">
                                LOG OUT
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlap-group1-yBpAcz">
                    <div class="verification-cd74bbee-a162-46cc-8c35-e32b5e23d95b-GG2y6v font-class-1">
                        Verification
                    </div>
                    <img anima-src="{%static '/img/line-4-2@1x.png' %}" class="line-4-ae7eec82-0037-403b-876d-fefee1e22101-u5VUNV" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="overlap-group-Y7zamN">
                    <div class="please-verify-your-identity-with-any-of-the-options-below-f54b9a4f-55b0-4623-ae0e-a59d6f14dba8-BxUUoO font-class-1">
                        Please Verify Your Identity <br />With Any of The Options Below:
                    </div>
                    <div class="for-a-safer-razer-banking-experience-a-2-factor-authentication-is-required-02ed1934-c307-402e-8ad2-16cc7a3d3f9a-WSE2Bk font-class-1">
                        For a safer Razer Banking experience, a 2 factor authentication is required.
                    </div>
                </div>
                <div class="group-91-18d48f4e-e30e-406f-8098-61439bec034c-RXxwso anima-flexbox-container">
                    <div class="group-90-77844727-aa49-4f2c-8f4d-b7c51e4b60b1-AAojNP">
                        <a href="myaccount">
                            <img anima-src="{%static '/img/rectangle-104-1@1x.png' %}" class="rectangle-104-1c8fe7bf-c5cc-4bd5-980b-259ccc3cca93-LAIDze" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </a>
                        <a href="verifyloginsingpass">
                            <div class="group-101-7ffbda91-74af-47ad-841d-a590740cab3b-uwXoux">
                                <div class="rectangle-598-7d1f4ee2-6470-4f23-a9d1-b01118f5b9d6-5fc2xK">
                                </div>
                                <div class="singpass-11a2dd2d-1656-40cc-bf18-a9728f9034f3-MAPKCK font-class-1">
                                    Singpass
                                </div>
                            </div>
                        </a>
                        <div class="group-102-122f55ff-c7a8-431a-99e4-a2f5ae9b581b-lnjKgU">
                            <div class="rectangle-598-920ec8dd-edb1-40e2-9b84-ded74d6bdf23-QdbWto">
                            </div>
                            <div class="atm-card-6d317ac4-18b8-44bf-b2f6-5a14a9bd8222-EfSj0x font-class-1">
                                ATM Card
                            </div>
                        </div>
                        <a href="verifyloginmobile">
                            <div class="group-103-3e28ea9e-c546-4fdf-93f8-500fb009c3ea-CMFY5b">
                                <div class="rectangle-598-191580c5-64a3-499f-aaef-c1499486cf2f-zzPMMR">
                                </div>
                                <div class="mobile-number-0a15d4f3-f9be-46ce-93c0-f64518ed5f42-XJ6maE font-class-1">
                                    Mobile Number
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
