@import url('https://fonts.googleapis.com/css?family=Roboto:400,500|Montserrat:300');


/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  animation-delay     : 0s;
}
@keyframes anima-reveal {
  from {
    opacity             : 0;
  }
  to {
    opacity             : 1;
  }
}
a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.align-self-flex-center {
  align-self          : center;
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-component-wrapper a,
.anima-screen a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
.anima-screen textarea:focus,
.anima-screen input:focus {
  outline             : none;
}
.anima-screen div {
  -webkit-text-size-adjust: none;
}
.anima-container-center-vertical,
.anima-container-center-horizontal {
  pointer-events      : none;
  display             : flex;
  flex-direction      : row;
  padding             : 0;
  margin              : 0;
}
.anima-container-center-vertical {
  align-items         : center;
  height              : 100%;
}
.anima-container-center-horizontal {
  justify-content     : center;
  width               : 100%;
}
.anima-container-center-vertical > *,
.anima-container-center-horizontal > * {
  pointer-events      : auto;
  flex-shrink         : 0;
}
.anima-component-wrapper ,
.anima-screen {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}
.anima-auto-animated div,
.anima-auto-animated span {
  opacity             : 0;
  position            : absolute;
  --anima-z-index: -1;
}
/* ANIMA screen - dashboard */
.font-class-1 {
  font-family         : Montserrat, Helvetica, Arial, serif;
  font-style          : normal;
  font-weight         : 300;
}
.font-class-2 {
  font-family         : Roboto, Helvetica, Arial, serif;
  font-size           : 21.0px;
  font-style          : normal;
  font-weight         : 400;
  letter-spacing      : 0.20px;
  line-height         : 21.0px;
}
.font-class-3 {
  font-family         : Roboto, Helvetica, Arial, serif;
  font-size           : 16.0px;
  font-style          : normal;
  font-weight         : 400;
  letter-spacing      : 0.54px;
  line-height         : 16.0px;
}
.font-class-4 {
  font-family         : Roboto, Helvetica, Arial, serif;
  font-size           : 20.0px;
  font-style          : normal;
  font-weight         : 400;
  letter-spacing      : 0.19px;
  line-height         : 20.0px;
}
.font-class-5 {
  color               : var(--auto-palette-color-1);
  font-family         : Roboto, Helvetica, Arial, serif;
  font-size           : 17.0px;
  font-style          : normal;
  font-weight         : 500;
  letter-spacing      : 1.51px;
  line-height         : 17.0px;
}
.font-class-6 {
  color               : var(--auto-palette-color-1);
  font-family         : Roboto, Helvetica, Arial, serif;
  font-size           : 12.0px;
  font-style          : normal;
  font-weight         : 500;
  letter-spacing      : 1.07px;
  line-height         : 12.0px;
}
:root {
  --auto-palette-color-1: rgba(0,0,0,1.0);
  --auto-palette-color-2: rgba(255,255,255,1.0);
  --auto-palette-color-3: rgba(122,132,248,1.0);
  --auto-palette-color-4: rgba(0,229,1,1.0);
  --auto-palette-color-5: rgba(186,194,255,1.0);
  --auto-palette-color-6: rgba(143,152,248,1.0);
  --auto-palette-color-7: rgba(227,6,19,1.0);
  --auto-palette-color-8: rgba(19,155,20,1.0);
}
.dashboard .auto-flex1-GHqnIL {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : flex;
  flex-direction      : column;
  flex-shrink         : 0;
  height              : auto;
  justify-content     : flex-start;
  margin-bottom       : -3.5px;
  position            : relative;
  width               : 107px;
}
.dashboard .overlap-group-Y7zamN {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 63px;
  margin-left         : 72.99px;
  margin-top          : 11px;
  position            : relative;
  width               : 326px;
}
.dashboard .overlap-group1-yBpAcz {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 654px;
  margin-left         : 0.33px;
  margin-top          : 6px;
  position            : relative;
  width               : 1158px;
}
.dashboard .auto-flex-1lKxzb {
  align-items         : flex-start;
  align-self          : flex-end;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  flex-shrink         : 0;
  height              : 155px;
  justify-content     : flex-start;
  position            : relative;
  width               : auto;
}
.dashboard .open-a-current-account-with-razer-42c4f01a-7983-4017-8c8e-848eadf17617-eRuCHQ {
  background-color    : rgba(0,229,1,0);
  color               : var(--auto-palette-color-4);
  font-size           : 25.0px;
  height              : 101px;
  left                : 121px;
  line-height         : 25.0px;
  position            : absolute;
  text-align          : center;
  top                 : 415px;
  transform           : rotate(0deg);
  width               : 332px;
}
.dashboard .frequently-asked-questions-7c7ded04-b687-45fd-988a-aee682800ef7-sFlP1G {
  background-color    : rgba(0,229,1,0);
  color               : var(--auto-palette-color-4);
  font-size           : 25.0px;
  height              : 73px;
  left                : 589px;
  line-height         : 25.0px;
  position            : absolute;
  text-align          : center;
  top                 : 411px;
  transform           : rotate(0deg);
  width               : 250px;
}
.dashboard {
  align-items         : flex-start;
  background-color    : var(--auto-palette-color-2);
  box-sizing          : border-box;
  display             : flex;
  flex-direction      : column;
  height              : auto;
  justify-content     : flex-start;
  min-height          : 1201px;
  overflow            : hidden;
  padding             : 22.0px 72.0px;
  position            : relative;
  width               : 1440.0px;
}
.dashboard .group-10-9223210b-cfc5-4f7d-993b-a89c44592244-mQUi3Z {
  align-items         : flex-end;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  flex-shrink         : 0;
  height              : 20px;
  justify-content     : flex-start;
  margin-left         : 135px;
  margin-top          : 24.0px;
  position            : relative;
  transform           : rotate(0deg);
  width               : auto;
}
.dashboard .services-cd0757a6-47cb-4a39-b99a-15abd208345c-IURaRZ {
  background-color    : rgba(0,0,0,0);
  color               : var(--auto-palette-color-1);
  flex-shrink         : 0;
  font-size           : 17.0px;
  height              : auto;
  line-height         : 17.0px;
  margin-bottom       : -3.5px;
  margin-left         : 42px;
  min-height          : 22px;
  min-width           : 80px;
  position            : relative;
  text-align          : left;
  transform           : rotate(0deg);
  width               : auto;
}
.dashboard .discover-919b6cb4-03bb-497d-973a-c60ec63435a6-G7TiiQ {
  background-color    : rgba(0,0,0,0);
  color               : var(--auto-palette-color-1);
  flex-shrink         : 0;
  font-size           : 17.0px;
  height              : auto;
  line-height         : 17.0px;
  margin-bottom       : -3.5px;
  min-height          : 22px;
  min-width           : 84px;
  position            : relative;
  text-align          : left;
  transform           : rotate(0deg);
  width               : auto;
}
.dashboard .apply-0cf4d9e5-51cf-48bb-9b56-f89f0855dbc5-oaVUpD {
  background-color    : rgba(0,0,0,0);
  color               : var(--auto-palette-color-1);
  flex-shrink         : 0;
  font-size           : 17.0px;
  height              : auto;
  line-height         : 17.0px;
  margin-bottom       : -3.5px;
  margin-left         : 44px;
  min-height          : 22px;
  min-width           : 60px;
  position            : relative;
  text-align          : left;
  transform           : rotate(0deg);
  width               : auto;
}
.dashboard .contact-169b1830-f111-4400-a92d-7def72ab7152-CLfpeP {
  background-color    : rgba(0,0,0,0);
  color               : var(--auto-palette-color-1);
  flex-shrink         : 0;
  font-size           : 17.0px;
  height              : auto;
  line-height         : 17.0px;
  margin-bottom       : -3.5px;
  margin-left         : 41px;
  min-height          : 22px;
  min-width           : 79px;
  position            : relative;
  text-align          : left;
  transform           : rotate(0deg);
  width               : auto;
}
.dashboard .welcome-to-your-dashboard-cf4f6183-572d-46b4-8ad4-a404404d78f2-zEKyxr {
  background-color    : rgba(0,0,0,0);
  color               : var(--auto-palette-color-1);
  flex-shrink         : 0;
  font-size           : 42.0px;
  height              : auto;
  line-height         : 42.0px;
  margin-left         : 75.0px;
  margin-top          : 56px;
  min-height          : 54px;
  min-width           : 608px;
  position            : relative;
  text-align          : left;
  transform           : rotate(0deg);
  width               : auto;
}
.dashboard .register-for-a-razer-account-to-be-eligible-to-open-a-razer-bank-account-and-apply-for-loans-hassle-free-c2b69545-6dc7-4c83-81fc-e43a8aa36568-Hczfue {
  background-color    : rgba(0,0,0,0);
  color               : var(--auto-palette-color-1);
  flex-shrink         : 0;
  font-size           : 17.0px;
  height              : 86px;
  line-height         : 27.6px;
  margin-left         : 75.0px;
  margin-top          : 46px;
  min-height          : 86px;
  opacity             : 0.8;
  position            : relative;
  text-align          : left;
  transform           : rotate(0deg);
  width               : 400px;
}
.dashboard .group-11-e6a6e565-1df1-49ff-bffc-adc9e3cb90ee-YHCEHO {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  flex-shrink         : 0;
  height              : 131px;
  justify-content     : flex-start;
  margin-left         : 238px;
  min-width           : 212px;
  position            : relative;
  transform           : rotate(0deg);
  width               : auto;
}
.dashboard .group-100-4308f104-5e8b-472f-ad0b-ce97e3b4a26c-JrrX4O {
  align-items         : flex-end;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  flex-shrink         : 0;
  height              : 131px;
  justify-content     : flex-start;
  position            : relative;
  transform           : rotate(0deg);
  width               : auto;
}
.dashboard .chrislim63-a0d0e294-0a53-475d-a883-a8ff244e24ea-AllFVm {
  background-color    : rgba(0,0,0,0);
  color               : var(--auto-palette-color-1);
  flex-shrink         : 0;
  font-size           : 17.0px;
  height              : auto;
  line-height         : 17.0px;
  margin-top          : 23px;
  min-height          : 22px;
  min-width           : 117px;
  position            : relative;
  text-align          : left;
  transform           : rotate(0deg);
  width               : auto;
}
.dashboard .ellipse-17-6ab87254-f3bf-47c4-8b8f-66a5d48b5aa9-Z6LO89 {
  background-color    : rgba(255,255,255,0);
  cursor              : pointer;
  flex-shrink         : 0;
  height              : 89px;
  margin-right        : 2.0px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 89px;
}
.dashboard .log-out-a749849a-5207-4b0f-bb99-b403cdc6fe9f-oX9QXB {
  align-self          : center;
  background-color    : rgba(0,0,0,0);
  color               : var(--auto-palette-color-1);
  cursor              : pointer;
  flex-shrink         : 0;
  font-size           : 15.0px;
  height              : auto;
  line-height         : 15.0px;
  margin-bottom       : 36.0px;
  margin-left         : 36px;
  min-height          : 21px;
  min-width           : 81px;
  position            : relative;
  text-align          : left;
  transform           : rotate(0deg);
  width               : auto;
}
.dashboard .chirislim63-67888404-e39b-4614-aaf0-67a814bb1196-qtM0qT {
  background-color    : rgba(0,0,0,0);
  color               : var(--auto-palette-color-1);
  font-size           : 50.0px;
  height              : auto;
  left                : 2px;
  line-height         : 50.0px;
  position            : absolute;
  text-align          : left;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : auto;
}
.dashboard .line-4-b45fb7d7-9293-4ec5-a0cd-e49abdc88c83-4VrWA4 {
  background-color    : rgba(255,255,255,0);
  height              : 6px;
  left                : 0px;
  position            : absolute;
  top                 : 51px;
  width               : 272px;
}
.dashboard .razer-logo-ea5ceb03-6b1f-4229-9084-da9f60cd43ef-jGQ26s {
  align-self          : flex-end;
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 128px;
  position            : relative;
  width               : 228px;
}
.dashboard .make-payment-4a779c20-9a83-4b19-b0f7-4ed882c69f3d-ZjJJma {
  background-color    : rgba(0,0,0,0);
  color               : var(--auto-palette-color-1);
  font-size           : 25.0px;
  height              : 37px;
  left                : 784px;
  line-height         : 25.0px;
  position            : absolute;
  text-align          : center;
  top                 : 76px;
  transform           : rotate(0deg);
  width               : 254px;
}
.dashboard .rectangle-104-ae02f058-05e1-4dee-8d41-ab8492358760-v7X1xA {
  background-color    : rgba(0,0,0,0);
  border-radius       : 20.0px;
  cursor              : pointer;
  height              : 384px;
  left                : 0px;
  position            : absolute;
  top                 : 0px;
  width               : 386px;
}
.dashboard .my-accounts-d3a40a67-6de5-4140-b864-87a25bad8685-4mG927 {
  background-color    : rgba(0,229,1,0);
  color               : var(--auto-palette-color-4);
  font-size           : 25.0px;
  height              : 37px;
  left                : 91px;
  line-height         : 25.0px;
  position            : absolute;
  text-align          : center;
  top                 : 159px;
  transform           : rotate(0deg);
  width               : 207px;
}
.dashboard .rectangle-599-50ebc288-e12a-4756-97d9-fe374abdf897-zDJRxR {
  background-color    : rgba(0,0,0,0);
  border-radius       : 20.0px;
  cursor              : pointer;
  height              : 384px;
  left                : 260px;
  position            : absolute;
  top                 : 0px;
  width               : 571px;
}
.dashboard .rectangle-601-d3e6d251-675a-464e-8449-1cdf7937e111-MiWWH0 {
  background-color    : rgba(0,0,0,0);
  border-radius       : 20.0px;
  cursor              : pointer;
  height              : 384px;
  left                : 0px;
  position            : absolute;
  top                 : 270px;
  width               : 571px;
}
.dashboard .rectangle-603-e43de290-9e29-43c0-8227-88f01670bca5-HnLsTu {
  background-color    : rgba(0,0,0,0);
  border-radius       : 20.0px;
  height              : 384px;
  left                : 470px;
  position            : absolute;
  top                 : 270px;
  width               : 486px;
}
.dashboard .rectangle-605-20e41398-ac6d-4d20-95bc-113c6d3c25df-h2QyGv {
  background-color    : rgba(0,0,0,0);
  border-radius       : 20.0px;
  cursor              : pointer;
  height              : 384px;
  left                : 708px;
  position            : absolute;
  top                 : 0px;
  width               : 450px;
}
.dashboard .take-a-loan-with-razer-bank-abc4ddf3-20af-4d1c-87d5-1bd8ec0e9de4-QFiNxQ {
  background-color    : rgba(0,229,1,0);
  color               : var(--auto-palette-color-4);
  font-size           : 25.0px;
  height              : 75px;
  left                : 421px;
  line-height         : 25.0px;
  position            : absolute;
  text-align          : center;
  top                 : 140px;
  transform           : rotate(0deg);
  width               : 250px;
}
.dashboard .make-payment-3f041142-efec-4772-9844-b812c183663d-RnmjNU {
  background-color    : rgba(0,229,1,0);
  color               : var(--auto-palette-color-4);
  font-size           : 25.0px;
  height              : 75px;
  left                : 821px;
  line-height         : 25.0px;
  position            : absolute;
  text-align          : center;
  top                 : 158px;
  transform           : rotate(0deg);
  width               : 250px;
}